.selfiltereditems-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 4px;
    max-width: 70%;
    margin: 0px 5px;
    padding: 5px 0px;
    overflow: auto;
    .mud-chip-content {
        font-size: 10px;
    }
}