.chip-radius-0 {
  border-radius: 0px !important;
}

.chip-radius-5, .mudchip-tbl-nw, .mudchip-tbl {
  border-radius: 5px !important;
}

.chip-uppercase .mud-chip .mud-chip-content {
  text-transform: uppercase;
}

.chiplbl, .mudchip-tbl-nw, .mudchip-tbl {
  font-size: 10px !important;
  font-weight: bold;
  text-transform: uppercase;
}

.mudchip-tbl {
  min-width: 100px;
}

.mud-chip.mud-chip-size-small.h-notif {
  height: 13.6px !important;
}

.custom-chip1 {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.custom-chip-small, .custom-chip-dr-outlined, .custom-chip-small-outlined, .custom-chip-daterange {
  align-items: center;
  background-color: var(--mud-palette-action-disabled-background);
  border-radius: 5px;
  color: var(--mud-palette-text-primary);
  display: flex;
  font-size: 12px;
  font-weight: 400;
  height: 25px;
  justify-content: center;
  letter-spacing: 0.01071em;
  max-width: 100px;
  padding: 0 8px;
}

.custom-chip-daterange {
  max-width: unset;
  width: 175px;
}
.custom-chip-daterange .mud-picker .mud-input-slot {
  padding: 0px !important;
}

.custom-chip-small-outlined {
  border: solid thin lightgray;
  background-color: unset;
  height: 24px;
  max-width: unset;
  white-space: nowrap;
}

.custom-chip-dr-outlined {
  background-color: unset;
  border: solid thin lightgray;
  max-width: unset;
  width: 195px;
}
.custom-chip-dr-outlined .mud-picker .mud-input-slot {
  padding: 0px !important;
}

.custom-chip-filter {
  align-items: center;
  background-color: var(--mud-palette-action-disabled-background);
  border-radius: 4px;
  color: var(--mud-palette-text-primary);
  cursor: pointer;
  display: flex;
  font-size: 10px;
  font-weight: 400;
  height: 25px;
  justify-content: center;
  letter-spacing: 0.01071em;
  padding: 0 8px;
  white-space: nowrap;
}

.sidebar-chip {
  font-weight: bold;
  min-width: 120px;
  text-transform: uppercase;
}
.sidebar-chip span {
  font-size: 12px;
}

.mud-chip {
  transition: all 0.5s ease !important;
}

.two-box > div, .four-box > div {
  background-color: #ffffff;
  border-bottom: solid thin black;
  border-right: solid thin black;
}

.two-box {
  border-top: solid thin black;
  border-left: solid thin black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "box-left box-right";
}
.two-box .box-left {
  grid-area: box-left;
}
.two-box .box-right {
  grid-area: box-right;
}
.two-box .box-left, .two-box .box-right {
  height: 20px;
  width: 15px;
}

.four-box {
  border-top: solid thin black;
  border-left: solid thin black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "box-left box-center-left box-center-right box-right";
}
.four-box .box-left {
  grid-area: box-left;
}
.four-box .box-center-left {
  grid-area: box-center-left;
}
.four-box .box-center-right {
  grid-area: box-center-right;
}
.four-box .box-right {
  grid-area: box-right;
}
.four-box .box-left, .four-box .box-right, .four-box .box-center-left, .four-box .box-center-right {
  height: 20px;
  width: 15px;
}/*# sourceMappingURL=chip.styles.css.map */