.dflex-row-align-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dflex-row, .checkwriterpage .chkw-checkdate,
.checkwriterpage .chkw-checkno,
.checkwriterpage .chkw-banks, .checkwriterpage .chkw-payee {
  align-items: center;
  display: flex;
}

.dflex-col, .dflex-col-start-end {
  flex-direction: column !important;
  display: flex !important;
}

.dflex-ac {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 8px;
}

.flex-full {
  flex: 1 1 0%;
}

.dflex {
  display: flex;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

.dblock-inline {
  display: inline-block;
}

.vis-hide {
  visibility: hidden;
}

.vis-show {
  visibility: visible;
}

.jcenter {
  justify-content: center;
}

.dflex-col-start-end {
  align-items: start;
  justify-content: end;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-8 {
  -webkit-line-clamp: 8;
}

.line-clamp-10 {
  -webkit-line-clamp: 10;
}

.line-clamp-16 {
  -webkit-line-clamp: 16;
}

.line-clamp-props, .line-clamp-2, .line-clamp-3, .line-clamp-8, .line-clamp-10, .line-clamp-16 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
} 
.checkwriterpage__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 130px 1fr;
  grid-template-rows: 40px 50px 50px 40px 40px 1fr;
  gap: 0px 0px;
  grid-template-areas: "chkw-header chkw-header chkw-header chkw-header chkw-header" "chkw-payee chkw-payee chkw-payee chkw-payee chkw-blankcont" "chkw-banks chkw-banks chkw-checkno chkw-checkno chkw-checkdate" "chkw-voucher chkw-voucher chkw-voucher chkw-voucher chkw-voucher" "chkw-desc chkw-desc chkw-desc chkw-desc chkw-desc" "chkw-details chkw-details chkw-details chkw-details chkw-details";
}
.checkwriterpage .chkw-header {
  grid-area: chkw-header;
}
.checkwriterpage .chkw-payee {
  grid-area: chkw-payee;
}
.checkwriterpage .chkw-banks {
  grid-area: chkw-banks;
}
.checkwriterpage .chkw-checkdate {
  grid-area: chkw-checkdate;
}
.checkwriterpage .chkw-checkno {
  grid-area: chkw-checkno;
}
.checkwriterpage .chkw-blankcont {
  grid-area: chkw-blankcont;
}
.checkwriterpage .chkw-voucher {
  grid-area: chkw-voucher;
}
.checkwriterpage .chkw-desc {
  grid-area: chkw-desc;
}
.checkwriterpage .chkw-details {
  grid-area: chkw-details;
}
.checkwriterpage .chkw-header,
.checkwriterpage .chkw-details {
  border: solid thin lightgray;
}
.checkwriterpage .chkw-payee,
.checkwriterpage .chkw-checkdate,
.checkwriterpage .chkw-banks,
.checkwriterpage .chkw-checkno,
.checkwriterpage .chkw-blankcont,
.checkwriterpage .chkw-voucher {
  border-bottom: solid thin lightgray;
}
.checkwriterpage .chkw-payee,
.checkwriterpage .chkw-banks,
.checkwriterpage .chkw-voucher,
.checkwriterpage .chkw-desc {
  border-right: solid thin lightgray;
  border-left: solid thin lightgray;
}
.checkwriterpage .chkw-checkdate,
.checkwriterpage .chkw-checkno,
.checkwriterpage .chkw-blankcont {
  border-right: solid thin lightgray;
}
.checkwriterpage .chkw-checkdate,
.checkwriterpage .chkw-checkno,
.checkwriterpage .chkw-banks,
.checkwriterpage .chkw-checkdate {
  gap: 8px;
  padding: 8px;
}
.checkwriterpage .chkw-payee {
  gap: 2px;
  padding: 8px;
}
.checkwriterpage .amountwords {
  font-size: 16px;
  font-family: "R-Flex Regular";
  font-weight: bold;
}
.checkwriterpage__debtgrid {
  display: grid;
  padding: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 50px 50px 40px 40px 1fr;
  gap: 0px 0px;
  grid-template-areas: "chkw-header chkw-header chkw-header chkw-header chkw-header" "chkw-payee chkw-payee chkw-payee chkw-blankcont chkw-signatories" "chkw-banks chkw-banks chkw-banks chkw-checkdate chkw-signatories" "chkw-voucher chkw-voucher chkw-voucher chkw-voucher chkw-signatories" "chkw-desc chkw-desc chkw-desc chkw-desc chkw-signatories" "chkw-desc chkw-desc chkw-desc chkw-desc chkw-controls";
}
.checkwriterpage__debtgrid .chkw-header {
  grid-area: chkw-header;
}
.checkwriterpage__debtgrid .chkw-payee {
  grid-area: chkw-payee;
}
.checkwriterpage__debtgrid .chkw-banks {
  grid-area: chkw-banks;
}
.checkwriterpage__debtgrid .chkw-checkdate {
  grid-area: chkw-checkdate;
}
.checkwriterpage__debtgrid .chkw-checkno {
  grid-area: chkw-checkno;
}
.checkwriterpage__debtgrid .chkw-blankcont {
  grid-area: chkw-blankcont;
}
.checkwriterpage__debtgrid .chkw-voucher {
  grid-area: chkw-voucher;
}
.checkwriterpage__debtgrid .chkw-desc {
  grid-area: chkw-desc;
}
.checkwriterpage__debtgrid .chkw-details {
  grid-area: chkw-details;
}
.checkwriterpage__debtgrid .chkw-signatories {
  grid-area: chkw-signatories;
  border-right: solid thin lightgrey;
  overflow: hidden;
}
.checkwriterpage__debtgrid .chkw-controls {
  grid-area: chkw-controls;
  padding: 8px;
}
.checkwriterpage__debtgrid .chkw-controls {
  display: flex;
  gap: 8px;
  align-items: center;
}
.checkwriterpage__debtgrid .chkw-desc, .checkwriterpage__debtgrid .chkw-controls {
  border-bottom: solid thin lightgrey;
  border-right: solid thin lightgrey;
}
.checkwriterpage__debtgrid .chkw-blankcont {
  padding: 4px 8px;
}/*# sourceMappingURL=checkwriter.styles.css.map */