@page "/petty-cash/audit-trail"

@inject NavigationManager NavigationManager
@inject IPettyCashService PettyCashService
@inject IGlobalService GlobalService
@inject IJSRuntime JSRuntime

<div class='page-cont'>
    <div class='bgc-white'>
        <MudContainer Class='overflow-hidden pa-2' Fixed='false' MaxWidth='MaxWidth.ExtraLarge'>
            @if (!dataFetched)
            {
                <SkeletonPageList />
            }
            else
            {
                <MudContainer Fixed='false' MaxWidth='MaxWidth.Large'>
                    <MudPaper Elevation='0'>
                        <div class="audit-trail-grid">
                            <div id='atrail-contentid-pc' class="audit-trail-content">
                                <AuditLogTimeline IsPettyCash='true' PettyCashAuditTrail='@GlobalClassList.PettyCashAuditTrail'
                                    ModuleName='pettyCash'/>
                            </div>
                            <div class="audit-trail-sidebar">
                                <MudPaper>
                                    <AuditLogInfo IsPettyCash='true' PettyCash='@currPettyCash' DataFetched='@dataFetched'
                                        ReturnEventClick='BackToPettyCashList'/>
                                </MudPaper>
                                @if(scrollBarExists)
                                {
                                    <div class='atrail-scrollbtn-cont'>
                                        <MudButton Class='@(!isToBottom ? "btn-ios-d font12":"btn-ios-d font12 mudbtn-rotate-180")' OnClick='(() => ScrollJS(isToBottom = !isToBottom, "atrail-contentid-pc"))'
                                            StartIcon='@Icons.Material.Filled.ArrowDownward' Size='Size.Small' Variant='Variant.Filled' Color='Color.Secondary'
                                            Style='@(!isToBottom ? "max-width: 150px;":"")' Disabled='!scrollBarExists'>
                                            @ScrollButtonStr
                                        </MudButton>
                                    </div>
                                }
                            </div>
                        </div>
                    </MudPaper>
                </MudContainer>
        }
        </MudContainer>
    </div>
</div>

@code{
    private bool dataFetched, isToBottom, scrollBarExists;
    private PettyCashAuditTrail currentTrail = new PettyCashAuditTrail();
    private PettyCashModel currPettyCash = new();
    private string ScrollButtonStr = "To Bottom";
    protected override async Task OnInitializedAsync()
    {
        GlobalClass.pageTitle = "PETTY CASH AUDIT TRAIL";
        if(GlobalClass.pettyCash.Id == 0)
            BackToPettyCashList();
        else
        {
            Task t = Task.WhenAll(LoadAuditTrail());
            await t;
            if (t.Status == TaskStatus.RanToCompletion)
                CompletedFetch();
        }
        if(GlobalClass.pettyCash.Id != 0)
            scrollBarExists = await JSRuntime.InvokeAsync<bool>("CheckScrollbar", "atrail-contentid-pc");
    }
  
    private void BackToPettyCashList() => NavigationManager.NavigateTo("/petty-cash/list"); 
    private void CompletedFetch()
    {
        dataFetched = true;
        StateHasChanged();
    }
    
    private async Task ScrollJS(bool boolValue, string elementId)
    {
        if(boolValue)
        {
            await JSRuntime.InvokeVoidAsync("ScrollToBottom", elementId);
            ScrollButtonStr = "To Top";
        }
        else if(!boolValue)
        {
            await JSRuntime.InvokeVoidAsync("ScrollToTop", elementId);
            ScrollButtonStr = "To Bottom";
        }
    }

    private async Task LoadAuditTrail()
    {
        GlobalClassList.PettyCashAuditTrail = await PettyCashService.GetPettyCashAuditTrail(GlobalClass.pettyCash.Id,GlobalClass.token);
        currPettyCash = GlobalClass.pettyCash;
        currentTrail = GlobalClassList.PettyCashAuditTrail.Last();
    }
}


