.pettycashpage {
    &__grid {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 40px 40px 40px 1fr 1fr 40px 0.5fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "pcash-header pcash-header pcash-header pcash-header"
            "pcash-hsub pcash-hsub pcash-hsub pcash-hsub"
            "pcash-payee pcash-payee pcash-payee pcash-payee"
            "pcash-particulars pcash-particulars pcash-particulars pcash-particulars"
            "pcash-remarks pcash-remarks pcash-remarks pcash-remarks"
            "pcash-amt pcash-amt pcash-amt pcash-amt"
            "pcash-signatories pcash-signatories pcash-signatories pcash-signatories"; 
    }
    .pcash-header { grid-area: pcash-header; }
    .pcash-hsub { grid-area: pcash-hsub; }
    .pcash-payee { grid-area: pcash-payee; }
    .pcash-particulars { grid-area: pcash-particulars; }
    .pcash-remarks { grid-area: pcash-remarks; }
    .pcash-amt { grid-area: pcash-amt; }
    .pcash-signatories { grid-area: pcash-signatories; }

    .pcash-header, .pcash-hsub, .pcash-payee, .pcash-particulars,
    .pcash-remarks, .pcash-amt, .pcash-signatories { 
        border-top: solid thin lightgray; 
        border-right: solid thin lightgray;
        border-left: solid thin lightgray;
    }
    .pcash-signatories { border-bottom: solid thin lightgray; }
}