.audittrail_container {
  margin: 20px;

  .flex-gap {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .mud-paper {
    height: 80vh;
    padding: 20px;
    overflow: scroll;
    border-bottom: solid 6px #542d6f;

    .mud-card {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      border: none;

      .mud-typography-body1 {
        color: #7d7d7d;
        font-family: "Theramin", sans-serif !important;
        font-size: 1.4rem;
        color: #542d6f;
      }

      .mud-icon-root {
        fill: #542d6f;
      }
    }

    .payee_details {
      margin-top: 30px;

      .mud-icon-root {
        fill: #542d6f;
      }

      &-fields {
        display: flex;
        gap: 10px;
      }
    }
  }
}
