.pettycashpage {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 130px 1fr;
    grid-template-rows: 40px 50px 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "pcash-header pcash-header pcash-header pcash-header"
      "pcash-payee pcash-payee pcash-controlno pcash-controlno"
      "pcash-details pcash-details pcash-details pcash-details";
  }
  .pcash-header {
    grid-area: pcash-header;
  }
  .pcash-payee {
    grid-area: pcash-payee;
  }
  .pcash-controlno {
    grid-area: pcash-controlno;
  }
  .pcash-details {
    grid-area: pcash-details;
  }

  .pcash-header,
  .pcash-details {
    border-top: solid thin lightgray;
    border-right: solid thin lightgray;
    border-left: solid thin lightgray;
  }

  .pcash-controlno {
    border-left: solid thin lightgray;
    border-right: solid thin lightgray;
  }
  .pcash-header,
  .pcash-details {
    border-bottom: solid thin lightgray;
  }
  .pcash-payee {
    border-left: solid thin lightgray;
  }
}
