.btnicon-mr-0 {
  .mud-button-icon-start {
    margin-right: 0px !important;
  }
}

.btn-ios-d {
  font-weight: 500 !important;
  min-width: 70px !important;
  .mud-button-icon-start {
    margin-right: 0px !important;
  }
}
