<p class='tblpager__txt font-bold @(totalAmounts > 0 ? "color-green":"color-red")'>
    @(Extensions.GetEnumDescription(Enums.BankCurrency.PhilippinePeso) + " " + @totalAmounts.ToString("N2"))
</p>

@code {
    [Parameter] public decimal totalAmounts { get; set; } = 0;
}