.dflex-row-align-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dflex-row, .pcview-dialog__crumb, .pcview-dialog .pcgrid-lblstatus, .pcview-dialog .pcgrid-lbldate, .pcview-dialog .pcgrid-lblpayee,
.pcview-dialog .pcgrid-lblamt, .pcview-dialog .pcgrid-status, .pcview-dialog .pcgrid-date, .pcview-dialog .pcgrid-payee,
.pcview-dialog .pcgrid-amt, .pcview-dialog .pcgrid-controls, .liqview-dialog__grid .liqgrid-lblstatus, .liqview-dialog__grid .liqgrid-lbldate, .liqview-dialog__grid .liqgrid-lblperiod,
.liqview-dialog__grid .liqgrid-lblremarks, .liqview-dialog__grid .liqgrid-status, .liqview-dialog__grid .liqgrid-controls,
.liqview-dialog__grid .liqgrid-date, .liqview-dialog__grid .liqgrid-lblamt, .liqview-dialog__grid .liqgrid-totalamt,
.liqview-dialog__grid .liqgrid-period, .liqview-dialog__grid .liqgrid-details__label-cont, .rfpview-dialog__grid .rfpgrid-lblstatus, .rfpview-dialog__grid .rfpgrid-lbldatereq, .rfpview-dialog__grid .rfpgrid-lbldateneed, .rfpview-dialog__grid .rfpgrid-lbldateperiod,
.rfpview-dialog__grid .rfpgrid-lblpayee, .rfpview-dialog__grid .rfpgrid-lblbillreq, .rfpview-dialog__grid .rfpgrid-controls, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-body__item-row, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-proj, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-div, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-exp, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-amt, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-footer, .rfpview-dialog__total-amount--cont, .vouchview-dialog__grid .vvgrid-lblstatus, .vouchview-dialog__grid .vvgrid-lbldate, .vouchview-dialog__grid .vvgrid-lblrfp, .vouchview-dialog__grid .vvgrid-lbldesc,
.vouchview-dialog__grid .vvgrid-lblperiod, .vouchview-dialog__grid .vvgrid-lblrem, .vouchview-dialog__grid .vvgrid-controls, .vouchview-dialog__grid .vvgrid-status,
.vouchview-dialog__grid .vvgrid-date, .vouchview-dialog__grid .vvgrid-period, .vouchview-dialog__grid .vvgrid-desc, .vouchview-dialog__grid .vvgrid-rfp, .vouchview-dialog__grid .vvgrid-rem, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-header__item-row, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--right, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--center, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-footer, .vroutedialog__grid .vroutedialog-lbldate, .vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-title, .vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-footer, .custom-dialog2__title, .custom-dialog2__actions, .checkdialog-view__grid .chkd-headerleft, .checkdialog-view__grid .chkd-lbldate, .checkdialog-view__grid .chkd-date, .checkdialog-view__grid .chkd-lblpayee, .checkdialog-view__grid .chkd-payee,
.checkdialog-view__grid .chkd-amtno, .checkdialog-view__grid .chkd-lblpeso, .checkdialog-view__grid .chkd-amtwords, .checkdialog-view__grid .chkd-footer, .checkdialog-view__grid .chkd-footer__misc-info > div, .checkdialog-view .border-bottom, .debitdialog-view__grid .debitv-lblbank, .debitdialog-view__grid .debitv-bank, .debitdialog-view__grid .debitv-controls, .debitdialog-view__grid .debitv-lbldate,
.debitdialog-view__grid .debitv-lblamt, .debitdialog-view__grid .debitv-amt, .debitdialog-view__grid .debitv-lblrem, .debitdialog-view__grid .debitv-rem, .collectiondialog-view__grid .coll-lblstatus, .collectiondialog-view__grid .coll-status,
.collectiondialog-view__grid .coll-lbltransdate, .collectiondialog-view__grid .coll-transdate, .collectiondialog-view__grid .coll-lblcat, .collectiondialog-view__grid .coll-cat,
.collectiondialog-view__grid .coll-lblcust, .collectiondialog-view__grid .coll-cust, .collectiondialog-view__grid .coll-lblprojc, .collectiondialog-view__grid .coll-projc,
.collectiondialog-view__grid .coll-lblexp, .collectiondialog-view__grid .coll-exp, .collectiondialog-view__grid .coll-lblref, .collectiondialog-view__grid .coll-ref,
.collectiondialog-view__grid .coll-lblor, .collectiondialog-view__grid .coll-or, .collectiondialog-view__grid .coll-lbltype, .collectiondialog-view__grid .coll-type,
.collectiondialog-view__grid .coll-lblchkdate, .collectiondialog-view__grid .coll-chkdate, .collectiondialog-view__grid .coll-lblcheckno, .collectiondialog-view__grid .coll-checkno,
.collectiondialog-view__grid .coll-lblgross, .collectiondialog-view__grid .coll-gross, .collectiondialog-view__grid .coll-lblnet, .collectiondialog-view__grid .coll-net,
.collectiondialog-view__grid .coll-controls, .dialog-action {
  align-items: center;
  display: flex;
}

.dflex-col, .pcview-dialog .pcgrid-signatories, .liqview-dialog__grid .liqgrid-details__pc-ctrlno--cont, .liqview-dialog .liqgrid-signatories, .rfpview-dialog__grid .rfpgrid-details, .rfpview-dialog__grid .rfpgrid-signatories, .vouchview-dialog__grid .vvgrid-signatories, .checkdialog-view__grid .chkd-footer__misc-info, .dflex-col-start-end {
  flex-direction: column !important;
  display: flex !important;
}

.dflex-ac {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 8px;
}

.flex-full, .liqview-dialog__grid .liqgrid-details, .liqview-dialog__grid .liqgrid-details__pc-chips-cont {
  flex: 1 1 0%;
}

.dflex, .liqview-dialog__grid .liqgrid-details {
  display: flex;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

.dblock-inline, .liqview-dialog__grid .liqgrid-details__pc-chips-cont {
  display: inline-block;
}

.vis-hide {
  visibility: hidden;
}

.vis-show {
  visibility: visible;
}

.jcenter {
  justify-content: center;
}

.dflex-col-start-end {
  align-items: start;
  justify-content: end;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-8 {
  -webkit-line-clamp: 8;
}

.line-clamp-10 {
  -webkit-line-clamp: 10;
}

.line-clamp-16 {
  -webkit-line-clamp: 16;
}

.line-clamp-props, .line-clamp-2, .line-clamp-3, .line-clamp-8, .line-clamp-10, .line-clamp-16 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
} 
.visibility-animation-hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.visibility-animation-show {
  display: block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.transition-2s-ease {
  transition: all 2s;
  transition-timing-function: ease;
}

.transition-1-5s-ease {
  transition: all 1.5s;
  transition-timing-function: ease;
}

.transition-1s-ease, .globalrfp-dialog-content {
  transition: all 1s;
  transition-timing-function: ease;
}

.transition-05s-ease, .main-dialog-content {
  transition: all 0.5s;
  transition-timing-function: ease;
}

.transition-025s-ease {
  transition: all 0.25s;
  transition-timing-function: ease;
}

.menu-grow-anim {
  transition: all 0.15s ease-in-out !important;
}

.menu-grow-anim:hover {
  transform: scale(1.025) !important;
}

.row-popup-anim-2px tr {
  transition: all 0.2s ease-in-out;
}

.row-popup-anim-2px tr:hover {
  transform: translateY(-2px);
}

.fade-in, .main-dialog-content, .pcview-dialog__grid, .liqview-dialog__grid, .checkdialog-view__grid {
  animation: fadein 1s;
  visibility: visible;
}

.fade-out {
  animation: fadeout 1s;
  visibility: hidden;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.icon-rotate180 .mud-button-icon-end {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.mudbtn-rotate-180 .mud-icon-root {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.mudbtnico-rotate {
  animation: mudbtnico-rotate 0.5s linear infinite;
}

@keyframes mudbtnico-rotate {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.mudbtnico-rotate-90 .mud-icon-root {
  transform: rotate(0deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease; /** Firefox **/
  -o-transition: all 0.5s ease; /** Opera **/
}

.mudbtnico-rotate-90:hover .mud-button-root {
  color: #2196f3 !important;
}

.mudbtnico-rotate-90:hover .mud-icon-root, .mudbtnico-rotate-90:hover .mud-button-icon-end {
  transform: rotate(90deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease; /** Firefox **/
  -o-transition: all 0.5s ease; /** Opera **/
}

.mudbtnico-rotate-180:hover .mud-button-root {
  color: #2196f3 !important;
}

.mudbtnico-rotate-180:hover .mud-icon-root {
  transform: rotate(180deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease; /** Firefox **/
  -o-transition: all 0.5s ease; /** Opera **/
}

.sticky-div {
  z-index: 1;
  position: sticky;
  left: 0;
  background-color: white;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  30% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.th-btn-expand .mud-icon-root {
  transition: all 0.5s ease;
}

.ripple-animation {
  background-position: center;
  transition: background 0.7s;
}

.ripple-animation:hover {
  background: rgba(255, 255, 255, 0.5) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.5) 1%) center/15000%;
}

.ripple-animation:active {
  background-color: inherit;
  background-size: 100%;
  transition: background 0s;
}

.searching-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.searching-container p {
  font-size: 14px;
  font-family: "R-Flex Bold";
}

.searching-container__glass {
  margin: 24px;
  width: 35px;
  height: 35px;
  animation: zoom-in-zoom-out-glass 1s ease infinite;
}

@keyframes zoom-in-zoom-out-glass {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes fadeToRight-15px {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(15px);
  }
}
.fadeToRight-15px {
  animation-name: fadeToRight-15px;
  animation: fadeToRight-15px 1s;
}

.from-top {
  animation: fromtop 0.5s;
}

.to-top {
  animation: totop 0.5s;
}

@keyframes fromtop {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0.86);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(0.86);
  }
}
@keyframes totop {
  0% {
    opacity: 1;
    transform: translateY(0) scale(0.86);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.86);
  }
}
.horizontal-in {
  animation: horizontalin 0.5s;
}

@keyframes horizontalin {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.from-right {
  animation: fromright 0.5s;
}

.to-right {
  animation: toright 0.5s;
}

@keyframes fromright {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.86);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(0.86);
  }
}
@keyframes toright {
  0% {
    opacity: 1;
    transform: translateX(0) scale(0.86);
  }
  100% {
    opacity: 0;
    transform: translateX(100px) scale(0.86);
  }
}
.bounce-anim-sm {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.side-to-side-anim-sm {
  animation: sidetoside-sm 2s infinite;
  -webkit-animation: sidetoside-sm 2s infinite;
  -moz-animation: sidetoside-sm 2s infinite;
  -o-animation: sidetoside-sm 2s infinite;
}

@keyframes sidetoside-sm {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
}
.wiggle-anim-sm {
  animation: wiggle 2s linear infinite;
}

.wiggle-anim-sm-once {
  animation: wiggle 0.5s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-20deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(11deg);
  }
  35% {
    transform: rotateZ(-9deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
} 
.bgc-white {
  background-color: #ffffff !important;
}

.bgc-fafafa {
  background-color: #fafafa;
}

.bgc-f6f6f6 {
  background-color: #f6f6f6;
}

.bgc-f2f2f2 {
  background-color: #f2f2f2 !important;
}

.bgc-beige {
  background-color: #f5f5dc;
}

.bgc-542d6f {
  background-color: #542d6f;
}

.bgc-gray {
  background-color: gray !important;
}

.bgc-8080805c {
  background-color: rgba(128, 128, 128, 0.3607843137) !important;
}

.bgc-F8F9FE {
  background-color: #f8f9fe;
}

.bgc-F4F5FB {
  background-color: #f4f5fb;
}

.bgc-inherit {
  background-color: inherit !important;
}

.bgc-F5F5DC73 {
  background-color: rgba(245, 245, 220, 0.4509803922) !important;
}

.bgc-b2a7b82e {
  background-color: rgba(178, 167, 184, 0.1803921569);
}

.bgc-gainsb {
  background-color: gainsboro !important;
}

.bgc-e7f2fb {
  background-color: #e7f2fb !important;
}

.bgc-transparent {
  background-color: transparent !important;
}

.bgc-FBFBFB {
  background-color: #fbfbfb !important;
}

.bgc-crimson {
  background-color: crimson !important;
}

.bgc-F3F5F7, .main-dialog-content, .globalrfp-dialog-content, .debitdialog-view, .collectiondialog-view {
  background-color: #F3F5F7 !important;
}

.bgc-dcdcdc6b {
  background-color: rgba(220, 220, 220, 0.4196078431) !important;
}

.line-bg-lightpurple {
  border-top: solid thick rgba(200, 182, 182, 0.4705882353);
}

.line-bg-maincolor {
  border-top: solid thick #542D6F;
}

.bgc-4d43521a {
  background-color: rgba(77, 67, 82, 0.1019607843);
}

.color-white {
  color: #ffffff;
}

.color-green {
  color: #008000;
}

.color-red {
  color: red;
}

.color-beige {
  color: #f5f5dc;
}

.color-7d7d7d {
  color: #7d7d7d;
}

.color-sec {
  color: var(--mud-palette-text-secondary) !important;
}

.color-gray {
  color: gray;
}

.mudtoolbar-bg-8080805c .mud-toolbar {
  background-color: rgba(128, 128, 128, 0.3607843137);
}

.mudtoolbar-bg-F4F5FB .mud-toolbar {
  background-color: #f4f5fb;
}

.tfield-color-red .mud-input {
  color: red;
  font-weight: bold;
}

.tfield-color-green .mud-input {
  color: green;
  font-weight: bold;
}

.tfield-color-blred .mud-input {
  color: var(--mud-palette-error) !important;
  font-weight: bold;
}

.chkwriter-bgc-grad {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.0784313725), rgba(83, 94, 155, 0.1098039216));
}

.border-c-l {
  border-color: lightgrey;
}

.mudiconend-color-tertiary .mud-button-icon-end {
  color: var(--mud-palette-tertiary) !important;
}

.opacity30 {
  opacity: 30%;
}

.material-success {
  color: #66BB6A;
}

.material-info {
  color: #4A86FF;
}

.material-warning {
  color: #FFA726;
}

.material-error {
  color: #F44336;
}

.bg-material-success, .bg-material-success, .bg-material-info,
.bg-material-warning, .bg-material-error {
  color: white !important;
}

.bg-material-success {
  background-color: #66BB6A !important;
}

.bg-material-info {
  background-color: #4A86FF !important;
}

.bg-material-warning {
  background-color: #FFA726 !important;
}

.bg-material-error {
  background-color: #F44336 !important;
} 
.dflex-row-align-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dflex-row, .pcview-dialog__crumb, .pcview-dialog .pcgrid-lblstatus, .pcview-dialog .pcgrid-lbldate, .pcview-dialog .pcgrid-lblpayee,
.pcview-dialog .pcgrid-lblamt, .pcview-dialog .pcgrid-status, .pcview-dialog .pcgrid-date, .pcview-dialog .pcgrid-payee,
.pcview-dialog .pcgrid-amt, .pcview-dialog .pcgrid-controls, .liqview-dialog__grid .liqgrid-lblstatus, .liqview-dialog__grid .liqgrid-lbldate, .liqview-dialog__grid .liqgrid-lblperiod,
.liqview-dialog__grid .liqgrid-lblremarks, .liqview-dialog__grid .liqgrid-status, .liqview-dialog__grid .liqgrid-controls,
.liqview-dialog__grid .liqgrid-date, .liqview-dialog__grid .liqgrid-lblamt, .liqview-dialog__grid .liqgrid-totalamt,
.liqview-dialog__grid .liqgrid-period, .liqview-dialog__grid .liqgrid-details__label-cont, .rfpview-dialog__grid .rfpgrid-lblstatus, .rfpview-dialog__grid .rfpgrid-lbldatereq, .rfpview-dialog__grid .rfpgrid-lbldateneed, .rfpview-dialog__grid .rfpgrid-lbldateperiod,
.rfpview-dialog__grid .rfpgrid-lblpayee, .rfpview-dialog__grid .rfpgrid-lblbillreq, .rfpview-dialog__grid .rfpgrid-controls, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-body__item-row, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-proj, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-div, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-exp, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-amt, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-footer, .rfpview-dialog__total-amount--cont, .vouchview-dialog__grid .vvgrid-lblstatus, .vouchview-dialog__grid .vvgrid-lbldate, .vouchview-dialog__grid .vvgrid-lblrfp, .vouchview-dialog__grid .vvgrid-lbldesc,
.vouchview-dialog__grid .vvgrid-lblperiod, .vouchview-dialog__grid .vvgrid-lblrem, .vouchview-dialog__grid .vvgrid-controls, .vouchview-dialog__grid .vvgrid-status,
.vouchview-dialog__grid .vvgrid-date, .vouchview-dialog__grid .vvgrid-period, .vouchview-dialog__grid .vvgrid-desc, .vouchview-dialog__grid .vvgrid-rfp, .vouchview-dialog__grid .vvgrid-rem, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-header__item-row, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--right, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--center, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-footer, .vroutedialog__grid .vroutedialog-lbldate, .vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-title, .vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-footer, .custom-dialog2__title, .custom-dialog2__actions, .checkdialog-view__grid .chkd-headerleft, .checkdialog-view__grid .chkd-lbldate, .checkdialog-view__grid .chkd-date, .checkdialog-view__grid .chkd-lblpayee, .checkdialog-view__grid .chkd-payee,
.checkdialog-view__grid .chkd-amtno, .checkdialog-view__grid .chkd-lblpeso, .checkdialog-view__grid .chkd-amtwords, .checkdialog-view__grid .chkd-footer, .checkdialog-view__grid .chkd-footer__misc-info > div, .checkdialog-view .border-bottom, .debitdialog-view__grid .debitv-lblbank, .debitdialog-view__grid .debitv-bank, .debitdialog-view__grid .debitv-controls, .debitdialog-view__grid .debitv-lbldate,
.debitdialog-view__grid .debitv-lblamt, .debitdialog-view__grid .debitv-amt, .debitdialog-view__grid .debitv-lblrem, .debitdialog-view__grid .debitv-rem, .collectiondialog-view__grid .coll-lblstatus, .collectiondialog-view__grid .coll-status,
.collectiondialog-view__grid .coll-lbltransdate, .collectiondialog-view__grid .coll-transdate, .collectiondialog-view__grid .coll-lblcat, .collectiondialog-view__grid .coll-cat,
.collectiondialog-view__grid .coll-lblcust, .collectiondialog-view__grid .coll-cust, .collectiondialog-view__grid .coll-lblprojc, .collectiondialog-view__grid .coll-projc,
.collectiondialog-view__grid .coll-lblexp, .collectiondialog-view__grid .coll-exp, .collectiondialog-view__grid .coll-lblref, .collectiondialog-view__grid .coll-ref,
.collectiondialog-view__grid .coll-lblor, .collectiondialog-view__grid .coll-or, .collectiondialog-view__grid .coll-lbltype, .collectiondialog-view__grid .coll-type,
.collectiondialog-view__grid .coll-lblchkdate, .collectiondialog-view__grid .coll-chkdate, .collectiondialog-view__grid .coll-lblcheckno, .collectiondialog-view__grid .coll-checkno,
.collectiondialog-view__grid .coll-lblgross, .collectiondialog-view__grid .coll-gross, .collectiondialog-view__grid .coll-lblnet, .collectiondialog-view__grid .coll-net,
.collectiondialog-view__grid .coll-controls, .dialog-action, .action-buttons {
  align-items: center;
  display: flex;
}

.dflex-col, .pcview-dialog .pcgrid-signatories, .liqview-dialog__grid .liqgrid-details__pc-ctrlno--cont, .liqview-dialog .liqgrid-signatories, .rfpview-dialog__grid .rfpgrid-details, .rfpview-dialog__grid .rfpgrid-signatories, .vouchview-dialog__grid .vvgrid-signatories, .checkdialog-view__grid .chkd-footer__misc-info, .dflex-col-start-end {
  flex-direction: column !important;
  display: flex !important;
}

.dflex-ac {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 8px;
}

.flex-full, .liqview-dialog__grid .liqgrid-details, .liqview-dialog__grid .liqgrid-details__pc-chips-cont {
  flex: 1 1 0%;
}

.dflex, .liqview-dialog__grid .liqgrid-details {
  display: flex;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

.dblock-inline, .liqview-dialog__grid .liqgrid-details__pc-chips-cont {
  display: inline-block;
}

.vis-hide {
  visibility: hidden;
}

.vis-show {
  visibility: visible;
}

.jcenter {
  justify-content: center;
}

.dflex-col-start-end {
  align-items: start;
  justify-content: end;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-8 {
  -webkit-line-clamp: 8;
}

.line-clamp-10 {
  -webkit-line-clamp: 10;
}

.line-clamp-16 {
  -webkit-line-clamp: 16;
}

.line-clamp-props, .line-clamp-2, .line-clamp-3, .line-clamp-8, .line-clamp-10, .line-clamp-16 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btnicon-mr-0 .mud-button-icon-start {
  margin-right: 0px !important;
}

.btn-ios-d {
  font-weight: 500 !important;
  min-width: 70px !important;
}

.btn-ios-d .mud-button-icon-start {
  margin-right: 0px !important;
}

.btn-lbl-font12 .mud-button-label {
  font-size: 10px !important;
}

.btn-tbl-link {
  border-radius: 5px;
  font-size: 10px !important;
  font-weight: bold;
  text-transform: uppercase !important;
  white-space: nowrap;
}

.btn-circular, .btn-scroll {
  border-radius: 24px !important;
}

.btn-scroll {
  position: sticky;
}

.button-m .mud-button, .customdialog .mud-dialog-title .mud-button,
.customdialog-table-only .mud-dialog-title .mud-button, .custom-dialog2__actions .mud-button, .dialog-action .mud-button, .action-buttons .mud-button {
  padding: 2px 8px !important;
}

.button-m .mud-button .mud-button-label, .customdialog .mud-dialog-title .mud-button .mud-button-label,
.customdialog-table-only .mud-dialog-title .mud-button .mud-button-label, .custom-dialog2__actions .mud-button .mud-button-label, .dialog-action .mud-button .mud-button-label, .action-buttons .mud-button .mud-button-label {
  font-size: 0.8125rem !important;
  text-transform: capitalize !important;
}

.action-buttons {
  width: 100%;
  gap: 4px;
} 
.customdialog .mud-dialog-title,
.customdialog-table-only .mud-dialog-title {
  padding: 8px 16px !important;
  background-color: #542d6f !important;
  color: white;
}
.customdialog .mud-dialog-title p,
.customdialog-table-only .mud-dialog-title p {
  font-family: "SF-Pro-Display Regular";
}
.customdialog .mud-dialog-title .mud-icon-root, .customdialog .mud-dialog-title .mud-button-root,
.customdialog-table-only .mud-dialog-title .mud-icon-root,
.customdialog-table-only .mud-dialog-title .mud-button-root {
  border-color: #ffffff;
  color: #ffffff;
}
.customdialog__content-container,
.customdialog-table-only__content-container {
  font-size: 1rem;
  padding: 10px 14px;
}
.customdialog .mud-dialog-content,
.customdialog-table-only .mud-dialog-content {
  overflow: hidden;
  padding: 0px !important;
}

.customdialog2 .mud-dialog-title, .customdialog3 .mud-dialog-title {
  background-color: #542d6f !important;
  color: white;
}
.customdialog2 .mud-dialog-title .mud-typography, .customdialog3 .mud-dialog-title .mud-typography {
  font-family: "Theramin";
}
.customdialog2 .mud-dialog-content, .customdialog3 .mud-dialog-content {
  padding: 8px !important;
  background-color: rgba(238, 238, 238, 0.6274509804) !important;
}

.customdialog3 .mud-dialog-title {
  padding: 8px !important;
}

.main-dialog-content {
  animation: fadein 1s 1;
  border: solid thin lightgray;
  border-radius: 5px;
  box-shadow: var(--mud-elevation-1);
  min-height: 0px;
  padding: 6px 12px;
  overflow: hidden;
}

.globalrfp-dialog-content {
  overflow: hidden;
}

.pcview-dialog .mud-dialog-title {
  background-color: #542D6F;
}
.pcview-dialog__title, .vouchview-dialog__title, .rfpview-dialog__title, .liqview-dialog__title {
  color: white;
  font-size: 1.25rem;
  font-family: "Theramin";
  text-transform: uppercase;
  letter-spacing: 1px;
}
.pcview-dialog__crumb {
  gap: 4px;
}
.pcview-dialog__crumb--prefix {
  color: white;
}
.pcview-dialog__crumb--prefix, .pcview-dialog__crumb--suffix {
  font-size: 12px;
  text-transform: uppercase;
}
.pcview-dialog__crumb--suffix {
  font-weight: bold;
}
.pcview-dialog__grid {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "pcgrid-lblstatus pcgrid-status pcgrid-status pcgrid-controls" "pcgrid-lbldate pcgrid-date pcgrid-date pcgrid-date" "pcgrid-lblpayee pcgrid-payee pcgrid-payee pcgrid-payee" "pcgrid-lblamt pcgrid-amt pcgrid-amt pcgrid-amt" "pcgrid-particulars pcgrid-particulars pcgrid-particulars pcgrid-signatories" "pcgrid-remarks pcgrid-remarks pcgrid-remarks pcgrid-signatories";
  max-height: 1024px;
}
.pcview-dialog .pcgrid-lblstatus {
  grid-area: pcgrid-lblstatus;
}
.pcview-dialog .pcgrid-lbldate {
  grid-area: pcgrid-lbldate;
}
.pcview-dialog .pcgrid-lblpayee {
  grid-area: pcgrid-lblpayee;
}
.pcview-dialog .pcgrid-lblamt {
  grid-area: pcgrid-lblamt;
}
.pcview-dialog .pcgrid-status {
  grid-area: pcgrid-status;
}
.pcview-dialog .pcgrid-date {
  grid-area: pcgrid-date;
}
.pcview-dialog .pcgrid-payee {
  grid-area: pcgrid-payee;
}
.pcview-dialog .pcgrid-amt {
  grid-area: pcgrid-amt;
}
.pcview-dialog .pcgrid-controls {
  grid-area: pcgrid-controls;
}
.pcview-dialog .pcgrid-signatories {
  grid-area: pcgrid-signatories;
}
.pcview-dialog .pcgrid-particulars {
  grid-area: pcgrid-particulars;
}
.pcview-dialog .pcgrid-remarks {
  grid-area: pcgrid-remarks;
}
.pcview-dialog .pcgrid-controls {
  gap: 4px;
  justify-content: end;
}
.pcview-dialog .pcgrid-status, .pcview-dialog .pcgrid-date, .pcview-dialog .pcgrid-payee,
.pcview-dialog .pcgrid-amt {
  border-bottom: solid thin lightgray;
}
.pcview-dialog .pcgrid-particulars, .pcview-dialog .pcgrid-remarks {
  border-bottom: dotted thin black;
  padding: 5px;
}
.pcview-dialog__label, .collectiondialog-view__lbl, .debitdialog-view__lbl, .vroutedialog__lbl, .vouchview-dialog__label, .rfpview-dialog__label, .liqview-dialog__label {
  font-size: 10px;
  color: #9F9F9F;
  text-transform: uppercase;
}
.pcview-dialog__txt, .collectiondialog-view__txt, .debitdialog-view__txt, .vroutedialog__txt, .vouchview-dialog__txt, .rfpview-dialog__txt, .liqview-dialog__txt, .pcview-dialog__txt--content-title, .vouchview-dialog__txt--content-title, .rfpview-dialog__txt--content-title, .liqview-dialog__txt--content-title {
  font-size: 12px;
  margin: 4px;
  padding: 0px 12px;
}
.pcview-dialog__txt--content-title, .vouchview-dialog__txt--content-title, .rfpview-dialog__txt--content-title, .liqview-dialog__txt--content-title {
  font-family: "R-Flex Bold";
  font-size: 12px;
  text-transform: uppercase;
}
.pcview-dialog__btn-circular {
  border-radius: 24px !important;
}

.liqview-dialog .mud-dialog-title {
  background-color: #542D6F;
}
.liqview-dialog__grid {
  display: grid;
  grid-template-columns: 60px 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "liqgrid-lblstatus liqgrid-status liqgrid-status liqgrid-controls" "liqgrid-lbldate liqgrid-date liqgrid-date liqgrid-date" "liqgrid-lblperiod liqgrid-period liqgrid-period liqgrid-period" "liqgrid-lblamt liqgrid-totalamt liqgrid-totalamt liqgrid-totalamt" "liqgrid-lblremarks liqgrid-remarks liqgrid-remarks liqgrid-remarks" "liqgrid-details liqgrid-details liqgrid-details liqgrid-signatories";
}
.liqview-dialog__grid .liqgrid-lblstatus {
  grid-area: liqgrid-lblstatus;
}
.liqview-dialog__grid .liqgrid-lbldate {
  grid-area: liqgrid-lbldate;
}
.liqview-dialog__grid .liqgrid-lblperiod {
  grid-area: liqgrid-lblperiod;
}
.liqview-dialog__grid .liqgrid-lblamt {
  grid-area: liqgrid-lblamt;
}
.liqview-dialog__grid .liqgrid-lblremarks {
  grid-area: liqgrid-lblremarks;
}
.liqview-dialog__grid .liqgrid-status {
  grid-area: liqgrid-status;
}
.liqview-dialog__grid .liqgrid-controls {
  grid-area: liqgrid-controls;
}
.liqview-dialog__grid .liqgrid-date {
  grid-area: liqgrid-date;
}
.liqview-dialog__grid .liqgrid-period {
  grid-area: liqgrid-period;
}
.liqview-dialog__grid .liqgrid-totalamt {
  grid-area: liqgrid-totalamt;
}
.liqview-dialog__grid .liqgrid-remarks {
  grid-area: liqgrid-remarks;
}
.liqview-dialog__grid .liqgrid-details {
  grid-area: liqgrid-details;
}
.liqview-dialog__grid .liqgrid-signatories {
  grid-area: liqgrid-signatories;
}
.liqview-dialog__grid .liqgrid-status, .liqview-dialog__grid .liqgrid-date, .liqview-dialog__grid .liqgrid-date,
.liqview-dialog__grid .liqgrid-period, .liqview-dialog__grid .liqgrid-period, .liqview-dialog__grid .liqgrid-totalamt,
.liqview-dialog__grid .liqgrid-remarks {
  border-bottom: solid thin lightgray;
}
.liqview-dialog__grid .liqgrid-details__pc-ctrlno--cont {
  width: 100%;
}
.liqview-dialog__grid .liqgrid-details__label-cont {
  color: black;
  gap: 4px;
  margin: 8px 0px;
}
.liqview-dialog__grid .liqgrid-details__pc-chips-cont {
  border-bottom: dotted thin black;
  max-height: 170px;
  overflow: auto;
}
.rfpview-dialog .mud-dialog-title {
  background-color: #542D6F;
}
.rfpview-dialog__grid {
  display: grid;
  grid-template-columns: 70px 1fr 1fr 80px 1fr 100px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "rfpgrid-lblstatus rfpgrid-status rfpgrid-status rfpgrid-status rfpgrid-controls rfpgrid-controls" "rfpgrid-lbldatereq rfpgrid-datreq rfpgrid-datreq rfpgrid-lbldateneed rfpgrid-dateneed rfpgrid-dateneed" "rfpgrid-lbldateperiod rfpgrid-dateperiod rfpgrid-dateperiod rfpgrid-lblbillreq rfpgrid-billreq rfpgrid-billreq" "rfpgrid-lblpayee rfpgrid-payee rfpgrid-payee rfpgrid-payee rfpgrid-payee rfpgrid-payee" "rfpgrid-details rfpgrid-details rfpgrid-details rfpgrid-details rfpgrid-signatories rfpgrid-signatories" "rfpgrid-details rfpgrid-details rfpgrid-details rfpgrid-details rfpgrid-signatories rfpgrid-signatories";
  max-width: 650px;
}
.rfpview-dialog__grid .rfpgrid-lblstatus {
  grid-area: rfpgrid-lblstatus;
}
.rfpview-dialog__grid .rfpgrid-lbldatereq {
  grid-area: rfpgrid-lbldatereq;
}
.rfpview-dialog__grid .rfpgrid-lbldateneed {
  grid-area: rfpgrid-lbldateneed;
}
.rfpview-dialog__grid .rfpgrid-lbldateperiod {
  grid-area: rfpgrid-lbldateperiod;
}
.rfpview-dialog__grid .rfpgrid-lblbillreq {
  grid-area: rfpgrid-lblbillreq;
}
.rfpview-dialog__grid .rfpgrid-lblpayee {
  grid-area: rfpgrid-lblpayee;
}
.rfpview-dialog__grid .rfpgrid-status {
  grid-area: rfpgrid-status;
}
.rfpview-dialog__grid .rfpgrid-datreq {
  grid-area: rfpgrid-datreq;
}
.rfpview-dialog__grid .rfpgrid-controls {
  grid-area: rfpgrid-controls;
}
.rfpview-dialog__grid .rfpgrid-dateneed {
  grid-area: rfpgrid-dateneed;
}
.rfpview-dialog__grid .rfpgrid-payee {
  grid-area: rfpgrid-payee;
}
.rfpview-dialog__grid .rfpgrid-details {
  grid-area: rfpgrid-details;
}
.rfpview-dialog__grid .rfpgrid-signatories {
  grid-area: rfpgrid-signatories;
}
.rfpview-dialog__grid .rfpgrid-dateperiod {
  grid-area: rfpgrid-dateperiod;
}
.rfpview-dialog__grid .rfpgrid-billreq {
  grid-area: rfpgrid-billreq;
}
.rfpview-dialog__grid .rfpgrid-status, .rfpview-dialog__grid .rfpgrid-datreq, .rfpview-dialog__grid .rfpgrid-dateneed, .rfpview-dialog__grid .rfpgrid-dateperiod,
.rfpview-dialog__grid .rfpgrid-billreq, .rfpview-dialog__grid .rfpgrid-payee {
  border-bottom: solid thin lightgray;
}
.rfpview-dialog__grid .rfpgrid-details {
  border: solid thin lightgray;
  border-radius: 5px;
  margin: 4px 4px 0px 4px;
}
.rfpview-dialog__grid .rfpgrid-details__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px 1fr 1fr 30px;
  gap: 0px 0px;
  grid-template-areas: "rfpdg-proj rfpdg-div rfpdg-exp rfpdg-amt" "rfpdg-body rfpdg-body rfpdg-body rfpdg-body" "rfpdg-body rfpdg-body rfpdg-body rfpdg-body" "rfpdg-footer rfpdg-footer rfpdg-footer rfpdg-footer";
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-proj {
  grid-area: rfpdg-proj;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-div {
  grid-area: rfpdg-div;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-exp {
  grid-area: rfpdg-exp;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-amt {
  grid-area: rfpdg-amt;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-body {
  grid-area: rfpdg-body;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-footer {
  grid-area: rfpdg-footer;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-body__items-cont {
  height: 310px;
  overflow: auto;
  padding: 4px;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-body__item-row {
  text-align: center;
  justify-content: center;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-proj, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-div, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-exp, .rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-amt {
  justify-content: center;
  border-bottom: solid thin lightgray;
  text-align: center;
}
.rfpview-dialog__grid .rfpgrid-details__grid .rfpdg-footer {
  border-top: solid thin lightgray;
}
.rfpview-dialog__grid .rfpgrid-details__item-tbltxt {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rfpview-dialog__total-amount--cont {
  border-top: solid thin lightgrey;
}

.vouchview-dialog .mud-dialog-title {
  background-color: #542D6F;
}
.vouchview-dialog__grid {
  display: grid;
  grid-template-columns: 75px 1fr 1fr 50px 100px 1fr;
  grid-template-rows: minmax(33px, auto);
  gap: 0px 0px;
  grid-template-areas: "vvgrid-lblstatus vvgrid-status vvgrid-status vvgrid-status vvgrid-controls vvgrid-controls" "vvgrid-lbldate vvgrid-date vvgrid-date vvgrid-lblperiod vvgrid-period vvgrid-period" "vvgrid-lblrfp vvgrid-rfp vvgrid-rfp vvgrid-rfp vvgrid-rfp vvgrid-rfp" "vvgrid-lbldesc vvgrid-desc vvgrid-desc vvgrid-desc vvgrid-desc vvgrid-desc" "vvgrid-lblrem vvgrid-rem vvgrid-rem vvgrid-rem vvgrid-rem vvgrid-rem" "vvgrid-details vvgrid-details vvgrid-details vvgrid-details vvgrid-signatories vvgrid-signatories";
  width: 700px;
}
.vouchview-dialog__grid .vvgrid-lblstatus {
  grid-area: vvgrid-lblstatus;
}
.vouchview-dialog__grid .vvgrid-lbldate {
  grid-area: vvgrid-lbldate;
}
.vouchview-dialog__grid .vvgrid-lblrfp {
  grid-area: vvgrid-lblrfp;
}
.vouchview-dialog__grid .vvgrid-lbldesc {
  grid-area: vvgrid-lbldesc;
}
.vouchview-dialog__grid .vvgrid-lblrem {
  grid-area: vvgrid-lblrem;
}
.vouchview-dialog__grid .vvgrid-lblperiod {
  grid-area: vvgrid-lblperiod;
}
.vouchview-dialog__grid .vvgrid-status {
  grid-area: vvgrid-status;
}
.vouchview-dialog__grid .vvgrid-date {
  grid-area: vvgrid-date;
}
.vouchview-dialog__grid .vvgrid-controls {
  grid-area: vvgrid-controls;
}
.vouchview-dialog__grid .vvgrid-period {
  grid-area: vvgrid-period;
}
.vouchview-dialog__grid .vvgrid-rfp {
  grid-area: vvgrid-rfp;
}
.vouchview-dialog__grid .vvgrid-desc {
  grid-area: vvgrid-desc;
}
.vouchview-dialog__grid .vvgrid-rem {
  grid-area: vvgrid-rem;
}
.vouchview-dialog__grid .vvgrid-details {
  grid-area: vvgrid-details;
}
.vouchview-dialog__grid .vvgrid-signatories {
  grid-area: vvgrid-signatories;
}
.vouchview-dialog__grid .vvgrid-status, .vouchview-dialog__grid .vvgrid-date, .vouchview-dialog__grid .vvgrid-period, .vouchview-dialog__grid .vvgrid-rfp, .vouchview-dialog__grid .vvgrid-desc,
.vouchview-dialog__grid .vvgrid-rem {
  border-bottom: solid thin lightgray;
}
.vouchview-dialog__grid .vvgrid-details__grid {
  border: solid thin lightgray;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25px 1fr 1fr 30px;
  gap: 0px;
  grid-template-areas: "vvdet-header vvdet-header vvdet-header vvdet-header" "vvdet-body vvdet-body vvdet-body vvdet-body" "vvdet-body vvdet-body vvdet-body vvdet-body" "vvdet-footer vvdet-footer vvdet-footer vvdet-footer";
  height: 300px;
  margin: 4px 0px 0px 0px;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-header {
  grid-area: vvdet-header;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-body {
  grid-area: vvdet-body;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-footer {
  grid-area: vvdet-footer;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-header {
  border-bottom: solid thin lightgray;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-header__item-row {
  align-items: baseline;
  text-align: center;
  justify-content: center;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-body {
  overflow: auto;
  padding: 0px 8px;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--right, .vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--center {
  align-items: center;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--right {
  justify-content: right;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-body__item-row--center {
  justify-content: center;
}
.vouchview-dialog__grid .vvgrid-details__grid .vvdet-footer {
  align-items: center;
  border-top: solid thin lightgray;
}
.vouchview-dialog__grid .vvgrid-details__item-tbltxt {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.vroutedialog {
  border: solid thin lightgray;
  padding: 4px 8px;
  max-height: 320px;
}
.vroutedialog__grid {
  display: grid;
  grid-template-columns: 40px 1fr 1fr 120px;
  grid-template-rows: auto;
  gap: 8px;
  grid-auto-flow: row;
  grid-template-areas: "vroutedialog-lbldate vroutedialog-lbldate vroutedialog-date vroutedialog-controlnumbers" "vroutedialog-location vroutedialog-location vroutedialog-location vroutedialog-controlnumbers" "vroutedialog-reason vroutedialog-reason vroutedialog-reason vroutedialog-controlnumbers" "vroutedialog-remarks vroutedialog-remarks vroutedialog-remarks vroutedialog-controlnumbers";
  width: 500px;
  padding: 4px 8px;
}
.vroutedialog__grid .vroutedialog-lbldate {
  grid-area: vroutedialog-lbldate;
}
.vroutedialog__grid .vroutedialog-date {
  grid-area: vroutedialog-date;
}
.vroutedialog__grid .vroutedialog-location {
  grid-area: vroutedialog-location;
}
.vroutedialog__grid .vroutedialog-reason {
  grid-area: vroutedialog-reason;
}
.vroutedialog__grid .vroutedialog-remarks {
  grid-area: vroutedialog-remarks;
}
.vroutedialog__grid .vroutedialog-controlnumbers {
  grid-area: vroutedialog-controlnumbers;
}
.vroutedialog__grid .vroutedialog-date {
  border-bottom: solid thin lightgray;
}
.vroutedialog__grid .vroutedialog-controlnumbers {
  border: solid thin lightgray;
  border-radius: 5px;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px auto 25px;
  gap: 0px 0px;
  grid-template-areas: "vroutediasub-title vroutediasub-title vroutediasub-title" "vroutediasub-content vroutediasub-content vroutediasub-content" "vroutediasub-footer vroutediasub-footer vroutediasub-footer";
  height: 100%;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-title {
  grid-area: vroutediasub-title;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-content {
  grid-area: vroutediasub-content;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-footer {
  grid-area: vroutediasub-footer;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-title, .vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-footer {
  background-color: lightyellow;
  padding: 2px 4px;
  font-weight: bold;
  justify-content: center;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-content {
  max-height: 250px;
  overflow: auto;
  padding: 4px;
  text-align: center;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-title {
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid thin lightgray;
}
.vroutedialog__grid .vroutedialog-controlnumbers__grid .vroutediasub-footer {
  border-radius: 0px 0px 5px 5px;
  border-top: solid thin lightgray;
}
.signatories-container, .pcview-dialog .pcgrid-signatories, .liqview-dialog__grid .liqgrid-signatories, .liqview-dialog .liqgrid-signatories, .rfpview-dialog__grid .rfpgrid-signatories, .vouchview-dialog__grid .vvgrid-signatories {
  border: solid thin lightgray;
  border-radius: 5px;
  gap: 4px;
  justify-content: center;
  padding: 0px 8px 8px 8px;
  margin: 4px 4px 0px 4px;
}

.custom-dialog2 {
  min-width: 340px;
}
.custom-dialog2__title {
  border-radius: 4px 4px 0px 0px;
  gap: 8px;
  background-color: #542d6f;
  padding: 16px 24px;
}
.custom-dialog2__title p {
  font-family: "SF-Pro-Display Regular";
  font-size: 20px;
  color: #ffffff;
}
.custom-dialog2__title small {
  font-family: "SF-Pro-Display Regular";
  letter-spacing: 1px;
  color: #ffffff;
}
.custom-dialog2__title .mud-icon-root {
  color: #ffffff;
}
.custom-dialog2__content {
  padding: 12px 24px;
}
.custom-dialog2__actions {
  gap: 8px;
  padding: 8px;
}
.custom-dialog2__warning-txt {
  margin-top: 8px;
  font-size: 12px;
  color: rgb(148, 148, 148);
}

.checkdialog-view {
  background: #ffffff;
  background-image: url(../../../images/fgbgimg.png), linear-gradient(217deg, rgba(179, 220, 204, 0), #C9E6D4 70.71%), linear-gradient(127deg, #C9E6D4, rgba(242, 240, 215, 0) 70.71%), linear-gradient(336deg, rgba(242, 240, 215, 0), #EBD5AE 70.71%);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto;
  padding: 4px 12px;
}
.checkdialog-view__grid {
  display: grid;
  grid-template-columns: 42px 42px 1fr 55px 42px 158px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "chkd-headerleft chkd-headerleft chkd-headerleft chkd-headerleft chkd-lbldate chkd-date" "chkd-lblpayee chkd-lblpayee chkd-payee chkd-payee chkd-amtno chkd-amtno" "chkd-lblpeso chkd-amtwords chkd-amtwords chkd-amtwords chkd-amtwords chkd-amtwords" "chkd-footer chkd-footer chkd-footer chkd-footer chkd-footer chkd-footer";
  min-width: 600px;
  max-width: calc(100vw - 300px);
}
.checkdialog-view__grid .chkd-headerleft {
  grid-area: chkd-headerleft;
}
.checkdialog-view__grid .chkd-lbldate {
  grid-area: chkd-lbldate;
}
.checkdialog-view__grid .chkd-date {
  grid-area: chkd-date;
}
.checkdialog-view__grid .chkd-lblpayee {
  grid-area: chkd-lblpayee;
}
.checkdialog-view__grid .chkd-payee {
  grid-area: chkd-payee;
}
.checkdialog-view__grid .chkd-amtno {
  grid-area: chkd-amtno;
}
.checkdialog-view__grid .chkd-lblpeso {
  grid-area: chkd-lblpeso;
}
.checkdialog-view__grid .chkd-amtwords {
  grid-area: chkd-amtwords;
}
.checkdialog-view__grid .chkd-footer {
  grid-area: chkd-footer;
}
.checkdialog-view__grid .chkd-headerleft, .checkdialog-view__grid .chkd-lbldate, .checkdialog-view__grid .chkd-date, .checkdialog-view__grid .chkd-lblpayee, .checkdialog-view__grid .chkd-payee,
.checkdialog-view__grid .chkd-amtno, .checkdialog-view__grid .chkd-lblpeso, .checkdialog-view__grid .chkd-amtwords, .checkdialog-view__grid .chkd-footer {
  padding: 8px;
}
.checkdialog-view__grid .chkd-lbldate, .checkdialog-view__grid .chkd-date {
  padding: 0px 8px;
}
.checkdialog-view__grid .chkd-date {
  gap: 12px;
}
.checkdialog-view__grid .chkd-lblpayee, .checkdialog-view__grid .chkd-payee, .checkdialog-view__grid .chkd-amtno, .checkdialog-view__grid .chkd-footer {
  padding: 0px 5px 8px 8px;
}
.checkdialog-view__grid .chkd-amtwords {
  align-items: start;
}
.checkdialog-view__grid .chkd-date {
  justify-content: center;
}
.checkdialog-view__grid .chkd-amtno {
  gap: 4px;
  text-align: center;
}
.checkdialog-view__grid .chkd-amtno p {
  background-color: #ffffff;
  border: solid thin black;
  width: 100%;
  letter-spacing: 0.5px;
}
.checkdialog-view__grid .chkd-headerleft .mud-chip {
  min-width: 100px;
}
.checkdialog-view__grid .chkd-headerleft__lbl-chip {
  color: #656D68;
  font-weight: unset;
  text-transform: uppercase;
  margin-bottom: 40px;
  position: fixed;
  font-size: 8px;
}
.checkdialog-view__grid .chkd-headerleft .check-no {
  margin-left: 2px;
}
.checkdialog-view__grid .chkd-headerleft .issued-date {
  margin-left: 16px;
}
.checkdialog-view__grid .mud-chip-content {
  font-weight: bold;
}
.checkdialog-view__grid .chkd-footer__lbl-note {
  font-size: 10px;
}
.checkdialog-view__grid .chkd-footer__lbl-placeholder {
  font-family: "R-Flex Bold";
  font-style: italic;
}
.checkdialog-view__lbl, .checkdialog-view__txt {
  font-size: 12px;
}
.checkdialog-view__lbl {
  text-transform: uppercase;
}
.checkdialog-view__txt {
  font-weight: bold;
}
.checkdialog-view .border-bottom {
  border-bottom: solid thin black;
  height: 100%;
  width: 100%;
}
.checkdialog-view .date-text {
  font-weight: bold;
  letter-spacing: 7px;
  margin-left: 6px;
  position: fixed;
}
.checkdialog-view .lbl-date {
  font-size: 10px;
}
.checkdialog-view .chkmod-btn {
  position: fixed;
  right: 8px;
  top: 100px;
}

.debitdialog-view {
  padding: 6px 12px;
}
.debitdialog-view__grid {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: "debitv-lblbank debitv-bank debitv-bank debitv-controls" "debitv-lbldate debitv-date debitv-date debitv-date" "debitv-lblamt debitv-amt debitv-amt debitv-amt" "debitv-lblrem debitv-rem debitv-rem debitv-rem";
  min-width: 500px;
}
.debitdialog-view__grid .debitv-lblbank {
  grid-area: debitv-lblbank;
}
.debitdialog-view__grid .debitv-bank {
  grid-area: debitv-bank;
}
.debitdialog-view__grid .debitv-controls {
  grid-area: debitv-controls;
}
.debitdialog-view__grid .debitv-lbldate {
  grid-area: debitv-lbldate;
}
.debitdialog-view__grid .debitv-date {
  grid-area: debitv-date;
}
.debitdialog-view__grid .debitv-lblamt {
  grid-area: debitv-lblamt;
}
.debitdialog-view__grid .debitv-amt {
  grid-area: debitv-amt;
}
.debitdialog-view__grid .debitv-lblrem {
  grid-area: debitv-lblrem;
}
.debitdialog-view__grid .debitv-rem {
  grid-area: debitv-rem;
}
.debitdialog-view__grid .debitv-controls {
  gap: 4px;
  justify-content: end;
}
.debitdialog-view__grid .debitv-bank, .debitdialog-view__grid .debitv-date, .debitdialog-view__grid .debitv-amt, .debitdialog-view__grid .debitv-rem {
  border-bottom: solid thin lightgray;
}
.collectiondialog-view {
  padding: 6px 12px;
  max-width: 600px;
}
.collectiondialog-view__grid {
  display: grid;
  grid-template-columns: 75px 1fr 1fr 55px 1fr 55px 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto minmax(50px, 1fr) minmax(50px, 1fr);
  gap: 4px;
  grid-template-areas: "coll-lblstatus coll-status coll-status  coll-status  coll-status  coll-status coll-controls coll-controls" "coll-lbltransdate coll-transdate coll-transdate coll-lblcat coll-cat coll-cat coll-controls coll-controls" "coll-lblcust coll-cust coll-cust coll-cust coll-cust coll-cust coll-cust coll-cust" "coll-lblprojc coll-projc coll-projc coll-projc coll-projc coll-lblexp coll-exp coll-exp" "coll-lblref coll-ref coll-ref coll-lblor coll-or coll-lbltype coll-type coll-type" "coll-lblchkdate coll-chkdate coll-chkdate coll-lblcheckno coll-checkno coll-checkno coll-postdated coll-postdated" "coll-lblgross coll-gross coll-gross coll-gross coll-lblnet coll-net coll-net coll-net" "coll-lbldesc coll-desc coll-desc coll-desc coll-desc coll-desc coll-desc coll-desc" "coll-lblrem coll-rem coll-rem coll-rem coll-rem coll-rem coll-rem coll-rem";
}
.collectiondialog-view__grid .coll-lbltransdate {
  grid-area: coll-lbltransdate;
}
.collectiondialog-view__grid .coll-transdate {
  grid-area: coll-transdate;
}
.collectiondialog-view__grid .coll-lblcat {
  grid-area: coll-lblcat;
}
.collectiondialog-view__grid .coll-cat {
  grid-area: coll-cat;
}
.collectiondialog-view__grid .coll-controls {
  grid-area: coll-controls;
}
.collectiondialog-view__grid .coll-lblsatus {
  grid-area: coll-lblstatus;
}
.collectiondialog-view__grid .coll-status {
  grid-area: coll-status;
}
.collectiondialog-view__grid .coll-lblcust {
  grid-area: coll-lblcust;
}
.collectiondialog-view__grid .coll-cust {
  grid-area: coll-cust;
}
.collectiondialog-view__grid .coll-lblprojc {
  grid-area: coll-lblprojc;
}
.collectiondialog-view__grid .coll-projc {
  grid-area: coll-projc;
}
.collectiondialog-view__grid .coll-lblexp {
  grid-area: coll-lblexp;
}
.collectiondialog-view__grid .coll-exp {
  grid-area: coll-exp;
}
.collectiondialog-view__grid .coll-lblref {
  grid-area: coll-lblref;
}
.collectiondialog-view__grid .coll-ref {
  grid-area: coll-ref;
}
.collectiondialog-view__grid .coll-lblor {
  grid-area: coll-lblor;
}
.collectiondialog-view__grid .coll-or {
  grid-area: coll-or;
}
.collectiondialog-view__grid .coll-lbltype {
  grid-area: coll-lbltype;
}
.collectiondialog-view__grid .coll-type {
  grid-area: coll-type;
}
.collectiondialog-view__grid .coll-lblchkdate {
  grid-area: coll-lblchkdate;
}
.collectiondialog-view__grid .coll-chkdate {
  grid-area: coll-chkdate;
}
.collectiondialog-view__grid .coll-lblcheckno {
  grid-area: coll-lblcheckno;
}
.collectiondialog-view__grid .coll-checkno {
  grid-area: coll-checkno;
}
.collectiondialog-view__grid .coll-postdated {
  grid-area: coll-postdated;
}
.collectiondialog-view__grid .coll-lblgross {
  grid-area: coll-lblgross;
}
.collectiondialog-view__grid .coll-gross {
  grid-area: coll-gross;
}
.collectiondialog-view__grid .coll-lblnet {
  grid-area: coll-lblnet;
}
.collectiondialog-view__grid .coll-net {
  grid-area: coll-net;
}
.collectiondialog-view__grid .coll-lbldesc {
  grid-area: coll-lbldesc;
}
.collectiondialog-view__grid .coll-desc {
  grid-area: coll-desc;
}
.collectiondialog-view__grid .coll-lblrem {
  grid-area: coll-lblrem;
}
.collectiondialog-view__grid .coll-rem {
  grid-area: coll-rem;
}
.collectiondialog-view__grid .coll-status,
.collectiondialog-view__grid .coll-transdate, .collectiondialog-view__grid .coll-cat, .collectiondialog-view__grid .coll-cust, .collectiondialog-view__grid .coll-projc,
.collectiondialog-view__grid .coll-exp, .collectiondialog-view__grid .coll-ref, .collectiondialog-view__grid .coll-or, .collectiondialog-view__grid .coll-type,
.collectiondialog-view__grid .coll-chkdate, .collectiondialog-view__grid .coll-checkno, .collectiondialog-view__grid .coll-gross, .collectiondialog-view__grid .coll-net {
  border-bottom: solid thin lightgray;
}
.collectiondialog-view__grid .coll-controls {
  gap: 4px;
  justify-content: end;
}
.collectiondialog-view .coll-textarea {
  border-radius: 4px;
  border: solid thin lightgray;
  height: 100%;
}
.collectiondialog-view .coll-desc, .collectiondialog-view .coll-ref {
  padding: 4px 0px;
}

.dialog-action {
  gap: 8px;
}/*# sourceMappingURL=dialog.styles.css.map */