.atrail-pc {
 &__container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 4px;
    grid-auto-flow: row;
    grid-template-areas:
      "audit-trail-info audit-trail-info audit-trail-signatories audit-trail-signatories"
      "audit-trail-table audit-trail-table audit-trail-table audit-trail-table"
      "audit-trail-table audit-trail-table audit-trail-table audit-trail-table"
      "audit-trail-table audit-trail-table audit-trail-table audit-trail-table";
    .audit-trail-info { grid-area: audit-trail-info; }
    .audit-trail-signatories { grid-area: audit-trail-signatories; }
    .audit-trail-table { grid-area: audit-trail-table; }
  }
}