.requestpayment {
  padding: 10px 16px !important;
}
.requestpayment__entryform {
  border-width: thin;
  border-style: solid;
  border-color: gray;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 20px 0.9fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 2rem calc(100vh - 505px) 2rem 20px 120px 70px;
  gap: 0px 0px;
  grid-template-areas: "rpheader rpheader rpheader rpheader rpheader" "rpheadmid rpheadmid rpheadmid rpheadmid rpheadmid" "rptbleft rptbbody rptbbody rptbbody rptbbody" "rptbleft rptbfooter rptbfooter rptbfooter rptbfooter" "rpfooterhead rpfooterhead rpfooterhead rpfooterhead rpfooterhead" "rpfooterbody rpfooterbody rpfooterbody rpfooterbody rpfooterbody" "rpfooterfoot rpfooterfoot rpfooterfoot rpfooterfoot rpfooterfoot";
}
.requestpayment__entryform .rpheader {
  grid-area: rpheader;
}
.requestpayment__entryform .rpheadmid {
  grid-area: rpheadmid;
}
.requestpayment__entryform .rptbbody {
  grid-area: rptbbody;
}
.requestpayment__entryform .rptbfooter {
  grid-area: rptbfooter;
}
.requestpayment__entryform .rptbleft {
  grid-area: rptbleft;
}
.requestpayment__entryform .rpfooterhead {
  grid-area: rpfooterhead;
}
.requestpayment__entryform .rpfooterbody {
  grid-area: rpfooterbody;
}
.requestpayment__entryform .rpfooterfoot {
  grid-area: rpfooterfoot;
}
.requestpayment__entryform .rpheader,
.requestpayment__entryform .rpheadmid,
.requestpayment__entryform .rptbbody,
.requestpayment__entryform .rpfooterbody {
  border-bottom: solid thin gray;
}
.requestpayment__entryform .rptbleft {
  border-right: solid thin gray;
}
.requestpayment__entryform .rptbbody {
  width: 100%;
}
.requestpayment__entryform .rpfooterhead,
.requestpayment__entryform .rpfooterbody {
  border-top: solid thin gray;
}
.requestpayment__entryform .rptbleft,
.requestpayment__entryform .rpfooterhead {
  background-color: #939292;
}
.requestpayment__entryform .rpheadmid__cont1 {
  width: 40%;
}
.requestpayment__entryform .rpheadmid__cont2, .requestpayment__entryform .rpheadmid__cont3 {
  width: 30%;
}
.requestpayment__entryform .rpheadmid__cont1, .requestpayment__entryform .rpheadmid__cont2 {
  border-right: solid thin gray;
  height: 100%;
  padding: 0px 5px;
}
.requestpayment__entryform .rpheadmid__cont3 {
  height: 100%;
  padding: 0px 5px;
}
.requestpayment__entryform .rptbfooter__cont1 {
  width: 40%;
}
.requestpayment__entryform .rptbfooter__cont2, .requestpayment__entryform .rptbfooter__cont3 {
  width: 30%;
}
.requestpayment__entryform .rptbfooter__cont1, .requestpayment__entryform .rptbfooter__cont2 {
  height: 100%;
  padding: 0px 5px;
}
.requestpayment__entryform .rptbfooter__cont3 {
  height: 100%;
  padding: 0px 5px;
}
.requestpayment__entryform .rpfooterbody {
  display: grid;
  grid-template-columns: 0.5fr 1.8fr 0.7fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
}
.requestpayment__entryform .rpfooterfoot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas: ". . . .";
}
.requestpayment__table .mud-toolbar {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}
.requestpayment__table .mud-table-container {
  overflow: auto;
}
.requestpayment__table .mud-table-head {
  background-color: #939292;
  white-space: nowrap;
}
.requestpayment__table .mud-table-head .mud-table-cell {
  color: white !important;
  text-transform: uppercase !important;
  text-align: center;
}
.requestpayment__lblbrrp, .requestpayment__lblside, .requestpayment__lblinput2 {
  text-transform: uppercase !important;
}
.requestpayment__lblside {
  color: white;
  font-size: 0.7rem !important;
  font-weight: 500 !important;
}
.requestpayment__lblinput2 {
  white-space: nowrap;
  font-weight: bold !important;
  font-size: 0.6rem !important;
}
.requestpayment__txtinputs .mud-input {
  font-size: 14px;
  margin-top: 0px !important;
}
.requestpayment__txtinputs .mud-input .mud-input-slot {
  padding: 0px !important;
}
.requestpayment__txtinputs .mud-input-control {
  margin-top: 3px !important;
}
.requestpayment__select .mud-typography {
  font-size: 0.7rem;
}
.requestpayment__rdb-mplist {
  max-height: calc(20vh - 45px);
  overflow: auto;
}

.rfp-container {
  display: grid;
  grid-template-columns: 1fr 1fr 300px 190px 190px auto;
  grid-template-rows: 40px 40px 1fr 1fr 130px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "rfp-header rfp-header rfp-header rfp-header rfp-header rfp-header" "rfp-subheader rfp-subheader rfp-dateperiod rfp-datereq rfp-dateneed rfp-controlno" "rfp-body rfp-body rfp-body rfp-body rfp-body rfp-body" "rfp-body rfp-body rfp-body rfp-body rfp-body rfp-body" "rfp-body rfp-body rfp-body rfp-body rfp-body rfp-body";
  height: calc(100vh - 120px);
}

.rfp-header {
  grid-area: rfp-header;
}

.rfp-subheader {
  grid-area: rfp-subheader;
}

.rfp-dateperiod {
  grid-area: rfp-dateperiod;
}

.rfp-datereq {
  grid-area: rfp-datereq;
}

.rfp-dateneed {
  grid-area: rfp-dateneed;
}

.rfp-controlno {
  grid-area: rfp-controlno;
}

.rfp-body {
  grid-area: rfp-body;
}
.rfp-body__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  grid-template-rows: 1fr 1fr 1fr 130px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "body-content body-content body-content body-sidebar" "body-content body-content body-content body-sidebar" "body-content body-content body-content body-sidebar" "body-footer body-footer body-footer body-sidebar";
  height: 100%;
}
.rfp-body .body-content {
  grid-area: body-content;
  overflow: hidden;
}
.rfp-body .body-footer {
  align-items: start;
  display: flex;
  border: solid thin lightgray;
  border-right-style: none;
  border-left-style: none;
  grid-area: body-footer;
}
.rfp-body .body-sidebar {
  border: solid thin lightgray;
  border-top-style: none;
  grid-area: body-sidebar;
}

.rfp-sidebar {
  grid-area: rfp-sidebar;
}

.rfp-footer {
  grid-area: rfp-footer;
}

.rfp-header {
  border: solid thin lightgray;
}

.rfp-subheader {
  border: solid thin lightgray;
  border-top-style: none;
  border-bottom-style: none;
}

.rfp-body {
  border-top: solid thin lightgray;
  border-left: solid thin lightgray;
}

.rfp-footer {
  border: solid thin lightgray;
  border-right-style: none;
}

.rfp-sidebar {
  border: solid thin lightgray;
  border-top-style: none;
}

.rfp-subheader,
.rfp-dateperiod,
.rfp-datereq,
.rfp-dateneed,
.rfp-controlno {
  align-items: center;
  border-right: solid thin lightgray;
  display: flex;
  padding: 0px 4px 0px 4px;
}/*# sourceMappingURL=requestpayment.css.map */