@use "../components/flexgridmods/flexgridmods.styles.css";
@use "../components/animations/animation.styles.css";

.liquidationpage {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(50px, 300px) minmax(50px, 200px) minmax(
        50px,
        170px
      );
    grid-template-rows: 40px 40px 40px calc(100vh - 240px);
    gap: 0px 0px;
    grid-template-areas:
      "liq-header liq-header liq-header liq-header liq-header"
      "liq-blank liq-blank liq-period liq-date liq-controlno"
      "liq-remarks liq-remarks liq-remarks liq-remarks liq-remarks"
      "liq-details liq-details liq-details liq-details liq-details";
  }

  .dflex-alcenter {
    display: flex;
    align-items: center;
  }
  .liq-header {
    grid-area: liq-header;
  }
  .liq-blank {
    grid-area: liq-blank;
  }
  .liq-period {
    grid-area: liq-period;
  }
  .liq-date {
    grid-area: liq-date;
  }
  .liq-controlno {
    grid-area: liq-controlno;
  }
  .liq-remarks {
    grid-area: liq-remarks;
  }
  .liq-details {
    grid-area: liq-details;
  }
  .liq-header,
  .liq-remarks,
  .liq-details {
    border-top: solid thin lightgray;
  }

  .liq-header,
  .liq-period,
  .liq-remarks,
  .liq-details {
    border-right: solid thin lightgray;
    border-left: solid thin lightgray;
  }

  .liq-controlno, .liq-date {
    border-right: solid thin lightgray;
  }

  .liq-header,
  .liq-details {
    border-bottom: solid thin lightgray;
  }

  .liq-blank {
    border-left: solid thin lightgray;
  }

  .liq-period {
    &__daterange-cont {
      @extend .dflex-alcenter;
      gap: 8px;
      padding: 8px;
      max-width: 300px;
    }
  }

  .liq-date {
    &__date-cont {
      @extend .dflex-alcenter;
      padding: 8px;
      width: 200px;
    }
  }

  .liq-controlno {
    @extend .dflex-alcenter;
    justify-content: space-between;
    padding: 8px;
    overflow: hidden;
  }
  .liq-details {
    &__grid {
      @extend .transition-05s-ease, .fade-in;
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr auto; 
      grid-template-rows: 30px 1fr 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "liqdet-tbar liqdet-tbar liqdet-tbar liqdet-sidebar"
        "liqdet-body liqdet-body liqdet-body liqdet-sidebar"
        "liqdet-body liqdet-body liqdet-body liqdet-sidebar"
        "liqdet-body liqdet-body liqdet-body liqdet-sidebar"; 
      .liqdet-tbar { grid-area: liqdet-tbar; }
      .liqdet-body { grid-area: liqdet-body; }
      .liqdet-sidebar { grid-area: liqdet-sidebar; }

      width: 100%;

      .liqdet-tbar {
        @extend .dflex-row;
        align-items: center;
        background-color: #F4F5FB;
        border-bottom: solid thin lightgray;
        padding: 0px 4px;
        &__control-cont {
          @extend .dflex-row;
          align-items: center;
          gap: 4px;
          width: 100%;
        }
      }
      .liqdet-body { overflow: auto; }
      .liqdet-sidebar {
        @extend .transition-05s-ease;
        border-left: solid thin lightgray;
      }
    }
    &__table {
      width: 100%;
      border-collapse: collapse;
      th {
        border-bottom: solid thin lightgray;
      }
      td {
        border-bottom: solid thin lightgray;
        border-right: solid thin lightgray;
      }
      table {
        border: solid thin lightgray;
      }
      th {
        font-family: "R-Flex Regular";
        font-size: 12px;
        font-weight: unset;
        text-transform: uppercase;
      }
      th:nth-child(1) {width: 25% ;}
      th:nth-child(2) {width: 40% ;}
      th:nth-child(3) {width: 25% ;}
      th:nth-child(4) {width: 10% ;}
      th:nth-child(5) {width: 18px ;}

      td:nth-child(5) {
        border-right-style: none;
      }
    }
    &__td-stock {
      td:nth-child(1) { 
        max-width: 100px; 
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
    &__td-edit {
      td:nth-child(1) { 
        max-width: unset; 
        p {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
