.liquidationpage {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 130px 1fr;
    grid-template-rows: 40px 40px 40px calc(100vh - 240px);
    gap: 0px 0px;
    grid-template-areas:
      "liq-header liq-header liq-header liq-header liq-header"
      "liq-period liq-period liq-period liq-controlno liq-controlno"
      "liq-remarks liq-remarks liq-remarks liq-remarks liq-remarks"
      "liq-details liq-details liq-details liq-details liq-details";
  }
  .liq-header {
    grid-area: liq-header;
  }
  .liq-period {
    grid-area: liq-period;
  }
  .liq-controlno {
    grid-area: liq-controlno;
  }
  .liq-remarks {
    grid-area: liq-remarks;
  }
  .liq-details {
    grid-area: liq-details;
  }
  .liq-header,
  .liq-period,
  .liq-remarks,
  .liq-controlno,
  .liq-details {
    border-top: solid thin lightgray;
  }

  .liq-header,
  .liq-period,
  .liq-remarks,
  .liq-details {
    border-right: solid thin lightgray;
    border-left: solid thin lightgray;
  }

  .liq-controlno {
    border-right: solid thin lightgray;
  }

  .liq-details {
    border-bottom: solid thin lightgray;
  }
}
