.subdrawer-left {
  width: 58px;
  position: relative;
  .mud-drawer {
    overflow: hidden;
    .mud-navmenu {
      overflow: auto;
    }
    .mud-drawer-content {
      background-color: #7a5095;
    }
    .mud-nav-link-text {
      color: white;
      font-size: 13px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .mud-icon-root {
      color: white !important;
    }
    .mud-nav-group {
      .mud-collapse-container {
        background-color: #5d3c71 !important;
      }
    }
  }

  .activelink {
    border-left: solid thick #ffa500;
    .mud-icon-root {
      color: #ffa500 !important;
    }
    .mud-nav-link-text {
      color: #ffa500;
      font-weight: 450;
    }
  }
}
.drawer-no-top {
  .mud-drawer {
    top: unset !important;
  }
}
