.configtables {
    .mud-table-container {
        height: calc(100vh - 190px);
        min-width: 75vh;
    }
    .mud-table-pagination-caption {
        font-size: 12px;
    }
    .mud-toolbar-gutters {
        height: 2.5rem;
    }
    .mud-table-head {
        white-space: nowrap;    
    }
}

.customheader-1 {
    border-bottom: solid thick #7E57C2 !important;
    border-radius: 0px !important;
    font-size: .775rem !important;
    text-transform: uppercase;
}

.small-toolbar-gutter {
    .mud-toolbar-gutters {
        height: 2.5rem;
    }
}