@use "../flexgridmods/flexgridmods.styles.css";

.configtables {
  .mud-table-container {
    height: calc(100vh - 190px);
    min-width: 75vh;
  }
  .mud-table-pagination-caption {
    font-size: 12px;
  }
  .mud-toolbar-gutters {
    height: 2.5rem;
  }
  .mud-table-head {
    position: relative;
    white-space: nowrap;
    z-index: 1;
  }
  .mud-toolbar {
    border-bottom: solid thin lightgray;
  }
}

.configtables-noheight {
  .mud-table-pagination-caption {
    font-size: 12px;
  }
  .mud-toolbar-gutters {
    height: 2.5rem;
  }
  .mud-table-head {
    position: relative;
    white-space: nowrap;
    z-index: 1;
  }
  .mud-toolbar {
    border-bottom: solid thin lightgray;
  }
}

.table-style-1 {
  .mud-table-container {
    height: calc(100vh - 190px);
    min-width: 75vh;
  }
  .mud-table-pagination-caption {
    font-size: 12px;
  }
  .mud-toolbar-gutters {
    height: 2.5rem;
  }
  .mud-table-head {
    position: relative;
    white-space: nowrap;
    z-index: 1;
    th {
      padding: 4px !important;
    }
  }
  .mud-toolbar {
    border-bottom: solid thin lightgray;
  }
  .mud-table-body {
    .mud-table-cell {
      padding: 4px !important;
    }
  }
  .mud-checkbox {
    margin: unset !important;
  }
}

.tbl-minwidth-0 {
  .mud-table-container {
    min-width: unset;
  }
}

.customheader-1 {
  // border-bottom: solid thick #7e57c2 !important;
  border-radius: 0px !important;
  font-size: 0.775rem !important;
  text-transform: uppercase;
}
.customheader-2 {
  border-radius: 0px !important;
  font-size: 0.775rem !important;
  text-transform: uppercase;
}

.customheader-3 {
  border-right: none !important;
  border-bottom: solid thin lightgray !important;
  border-radius: 0px !important;
  font-size: 0.775rem !important;
  text-transform: uppercase;
}

.customheader-4 {
  border-radius: 0px !important;
  font-size: 0.6rem !important;
  text-transform: uppercase;
}

.customheader-6 {
  border-radius: 0px !important;
  font-size: 10px !important;
  text-transform: uppercase;
  white-space: nowrap !important;
  padding: 4px;
}

.small-toolbar-gutter {
  .mud-toolbar-gutters {
    height: 2.45rem;
  }
}
.small-toolbar-gutter2 {
  .mud-toolbar-gutters {
    height: 2.05rem;
  }
  .mud-toolbar {
    border-bottom: solid thin lightgray;
  }
}
.small-toolbar-gutter3 {
  .mud-toolbar-gutters {
    height: 2.75rem;
  }
}
.small-toolbar-gutter4 {
  .mud-toolbar-gutters {
    height: 2.1rem;
  }
}
.sm-tbar-gutter {
  .mud-toolbar-gutters {
    height: 33px;
  }
}
.toolbar-pad-0 {
  .mud-toolbar-gutters {
    padding: 0px;
  }
}

.toolbar-bottom-border {
  .mud-toolbar-gutters {
    border-bottom: solid thin lightgray;
  }
}

.mtable-bottom-border {
  .mud-table-root {
    border-bottom: solid thin lightgray;
  }
}

.table-bottom-border {
  .mud-table-root {
    border-bottom: solid thin lightgray;
  }
}

.table-bottom-border {
  .mud-toolbar {
    border-bottom: solid thin lightgray;
  }
}

.mudtd-mw-40vw300px {
  max-width: calc(40vw - 300px);
  overflow: hidden;
}
.mudtd-mw-30vw300px {
  max-width: calc(30vw - 300px);
  overflow: hidden;
}

.mudtd-mw-150px {
  font-size: 12px !important;
  max-width: calc(35vw - 300px);
  overflow: hidden;
  text-align: center !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dynamic-div-1 {
  @media only screen and (max-width: 1366px) {
    max-width: calc(40vw - 300px);
  }
  max-width: calc(80vw - 900px);
  align-items: center;
  display: flex;
  small {
    flex: 1 1 0%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.dynamic-div-onglobalrfp {
  @media only screen and (max-width: 1366px) {
    max-width: calc(50vw - 300px);
  }
  max-width: calc(80vw - 900px);
  align-items: center;
  display: flex;
  small {
    flex: 1 1 0%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.th-sticky-left {
  border-right: solid thin lightgray;
  left: 0 !important;
}
.th-sticky-amt {
  border-right: solid thin lightgray;
  border-left: solid thin lightgray;
  right: 51px !important;
}

.th-sticky-action {
  right: 0 !important;
}
.th-sticky-left,
.th-sticky-amt,
.th-sticky-action {
  background-color: white !important;
  position: sticky !important;
  z-index: 3 !important;
}
.col-sticky-left {
  left: 0;
  z-index: 1;
}
.col-sticky-amt {
  border-right: solid thin lightgray;
  border-left: solid thin lightgray;
  right: 51px;
}
.col-sticky-action {
  right: 0 !important;
}

.col-sticky-left,
.col-sticky-amt,
.col-sticky-action {
  background-color: white;
  position: sticky;
}

.th-sticky-amt-vl {
  @extend .th-sticky-amt;
  right: 45px !important;
}

.col-sticky-amt-vl {
  @extend .col-sticky-amt;
  right: 45px !important;
}


tr td.unselectable-row
{
  background-color: #ddd;
  cursor: not-allowed;
  pointer-events: none;
}

.tblpager {
  &__grid {  
    border: solid thin lightgray;
    border-right-style: none;
    display: grid;
    grid-template-columns: 60px 1fr 90px 180px;
    grid-template-rows: 30px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tblpager-lblsel tblpager-sel tblpager-lblamt tblpager-totalamt";
    .tblpager-lblsel { grid-area: tblpager-lblsel; }
    .tblpager-sel { grid-area: tblpager-sel; }
    .tblpager-lblamt { grid-area: tblpager-lblamt; }
    .tblpager-totalamt { grid-area: tblpager-totalamt; }

    .tblpager-lblsel, .tblpager-sel, .tblpager-lblamt,
    .tblpager-totalamt {
      @extend .dflex-row;
    }
    .tblpager-sel {
      overflow: auto;
    }
    .tblpager-totalamt {
      justify-content: end;
    }
    .tblpager-lblsel,.tblpager-sel, .tblpager-lblamt, 
    .tblpager-lblamt {
      border-right: solid thin lightgray;
    }
    .tblpager-sel, .tblpager-totalamt {
      padding: 0px 4px;
    }
  }
  &__lbl, &__txt {
    padding: 0px 4px;
    white-space: nowrap;
  }
  &__lbl {
    font-size: 10px;
    color: #9F9F9F;
    text-transform: uppercase;
  }
  &__txt {
    font-size: 12px;
  }
}

.colamt-container {
  font-weight: bold;
  white-space: nowrap;
  min-width: 100px;
  p {
    font-size: 12px;
  }
}