@use "../components/flexgridmods/flexgridmods.styles.css";

.dboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px 0.75fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "dboard-settings dboard-settings dboard-settings dboard-settings dboard-settings dboard-settings"
    "dboard-top dboard-top dboard-top dboard-top dboard-top dboard-top"
    "dboard-body-left dboard-body-left dboard-body dboard-body dboard-body-right dboard-body-right"
    "dboard-body-left dboard-body-left dboard-body dboard-body dboard-body-right dboard-body-right"
    "dboard-bottom-left dboard-bottom-left dboard-bottom-right dboard-bottom-right dboard-bottom-right dboard-bottom-right"
    "dboard-bottom-left dboard-bottom-left dboard-bottom-right dboard-bottom-right dboard-bottom-right dboard-bottom-right";
  height: calc(100vh - 105px);
}
.dboard-settings {
  grid-area: dboard-settings;
}
.dboard-top {
  grid-area: dboard-top;
}

.dboard-body-left {
  grid-area: dboard-body-left;
}

.dboard-body {
  grid-area: dboard-body;
}

.dboard-body-right {
  grid-area: dboard-body-right;
}

.dboard-bottom-left {
  grid-area: dboard-bottom-left;
}

.dboard-bottom-right {
  grid-area: dboard-bottom-right;
}

.dashboard-container {
  height: 100%;
  padding: 8px !important;
}

.dashboard {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "dashboard-header dashboard-header dashboard-header dashboard-header dashboard-header dashboard-header"
    "dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content"
    "dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content"
    "dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content"
    "dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content dashboard-content"
    "dashboard-footer dashboard-footer dashboard-footer dashboard-footer dashboard-footer dashboard-footer"; 
  .dashboard-header { grid-area: dashboard-header; }
  .dashboard-content { grid-area: dashboard-content; }
  .dashboard-footer { grid-area: dashboard-footer; }
  height: 100%;
  .dashboard-header, .dashboard-content, .dashboard-footer{
    @extend .dflex-row;
    padding: 4px 8px;
  }
  &__title {
    font-family: "SF-Pro-Display Regular";
    font-size: 18px;
    font-weight: bold;
  }
}
