.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "topdash topdash topdash topdash topdash topdash"
    "topdash topdash topdash topdash topdash topdash"
    "bodydash bodydash bodydash bodydash sidedash sidedash"
    "bodydash bodydash bodydash bodydash sidedash sidedash"
    "bodydash bodydash bodydash bodydash sidedash sidedash"
    "bodydash bodydash bodydash bodydash sidedash sidedash";
  height: calc(100vh - 105px);
}
.topdash {
  grid-area: topdash;
}
.bodydash {
  grid-area: bodydash;
}
.sidedash {
  grid-area: sidedash;
}
