<div class="container" style="width: 800px;">
    @foreach(var icons in Icons())
        {
            <MudIcon Icon="@icons" Color="Color.Primary"></MudIcon>
        }
</div>

@code{
    List<string> Icons(){
        List<string> values = new List<string>();
        foreach (var properties in MudBlazor.Icons.Filled.GetType().GetProperties())
                values.Add(properties.GetValue(MudBlazor.Icons.Filled).ToString());
        return values;
    }
}