.voucherpage {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 130px 1fr;
    grid-template-rows: 40px 50px 40px 40px calc(100vh - 290px);
    gap: 0px 0px;
    grid-template-areas:
      "voucher-header voucher-header voucher-header voucher-header voucher-header"
      "voucher-payee voucher-payee voucher-payee voucher-status voucher-status"
      "voucher-rfp voucher-rfp voucher-rfp voucher-rfp voucher-rfp"
      "voucher-desc voucher-desc voucher-remarks voucher-remarks voucher-remarks"
      "voucher-details voucher-details voucher-details voucher-details voucher-details";
  }
  .voucher-header {
    grid-area: voucher-header;
  }
  .voucher-payee {
    grid-area: voucher-payee;
  }
  .voucher-status {
    grid-area: voucher-status;
  }
  .voucher-rfp {
    grid-area: voucher-rfp;
  }
  .voucher-desc {
    grid-area: voucher-desc;
  }
  .voucher-remarks {
    grid-area: voucher-remarks;
  }
  .voucher-details {
    grid-area: voucher-details;
  }

  .voucher-header,
  .voucher-payee,
  .voucher-status,
  .voucher-rfp,
  .voucher-desc,
  .voucher-remarks,
  .voucher-details {
    border-top: solid thin lightgray;
  }

  .voucher-header,
  .voucher-payee,
  .voucher-rfp,
  .voucher-desc,
  .voucher-details {
    border-right: solid thin lightgray;
    border-left: solid thin lightgray;
  }

  .voucher-status,
  .voucher-remarks {
    border-right: solid thin lightgray;
  }

  .voucher-details {
    border-bottom: solid thin lightgray;
  }
}

.vou-entry-detail {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 100px; 
  gap: 0px 0px; 
  grid-template-areas: 
    "vouentrydetail-body vouentrydetail-body vouentrydetail-body vouentrydetail-body"
    "vouentrydetail-body vouentrydetail-body vouentrydetail-body vouentrydetail-body"
    "vouentrydetail-body vouentrydetail-body vouentrydetail-body vouentrydetail-body"
    "vouentrydetail-footer vouentrydetail-footer vouentrydetail-footer vouentrydetail-footer";

  .vouentrydetail-body { grid-area: vouentrydetail-body; }
  .vouentrydetail-footer { grid-area: vouentrydetail-footer; }

  .vouentrydetail-body {
    overflow: hidden;
  }
  .vouentrydetail-footer {
    border-top: solid thin lightgrey;
    overflow: auto;
  }
  height: 100%;
}
.vou-entry-amtinfo-grid {
  display: grid;
  grid-template-columns: 30px 120px 1fr 1fr 1fr 120px 1fr 120px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "amtinfo-cont1 amtinfo-cont2 amtinfo-cont2 amtinfo-cont2 amtinfo-cont3 amtinfo-cont4 amtinfo-cont5 amtinfo-cont6"
    "amtinfo-cont1 amtinfo-cont2 amtinfo-cont2 amtinfo-cont2 amtinfo-cont3 amtinfo-cont4 amtinfo-cont5 amtinfo-cont6"
    "amtinfo-tags amtinfo-tags amtinfo-tags amtinfo-tags amtinfo-cont3 amtinfo-cont4 amtinfo-cont5 amtinfo-cont6"
    "amtinfo-tags amtinfo-tags amtinfo-tags amtinfo-tags amtinfo-cont3 amtinfo-cont4 amtinfo-cont5 amtinfo-cont6";
  height: 100%;
    small {
    font-size: 10px;
    white-space: nowrap;
    padding: 0px 2px 0px 2px;
  }
  .grid-item-end {
    .mud-grid-item {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }

  .amtinfo-cont1 {
    @extend .bg-f4f5fb;
    grid-area: amtinfo-cont1;
  }

  .amtinfo-cont2 {
    @extend .bg-f4f5fb;
    grid-area: amtinfo-cont2;
  }

  .amtinfo-cont3 {
    @extend .border-right, .bg-f4f5fb, .grid-item-end;
    grid-area: amtinfo-cont3;
  }

  .amtinfo-cont4 {
    @extend .grid-item-end;
    grid-area: amtinfo-cont4;
  }

  .amtinfo-cont5 {
    @extend .border-left, .border-right, .bg-f4f5fb, .grid-item-end;
    grid-area: amtinfo-cont5;
  }

  .amtinfo-cont6 {
    @extend .grid-item-end;
    grid-area: amtinfo-cont6;
  }

  .amtinfo-tags {
    align-items: start;
    display: flex;
    justify-items: start;
    &__chkbxcont {
      align-items: start;
      display: flex;
      min-width: 355px;
      width: 100%;
    }
    border: solid thin lightgray;
    border-left-style: none;
    border-bottom-style: none;
    grid-area: amtinfo-tags;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .border-left {
    border-left: solid thin lightgray;
  }

  .border-right {
    border-right: solid thin lightgray;
  }
  .bg-f4f5fb {
    background-color: #f4f5fb;
  }
}
