.voucherpage {
    &__grid {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 40px 40px 40px 40px 25vh 25vh 0.5fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "voucher-header voucher-header voucher-header voucher-date"
          "voucher-payee voucher-payee voucher-payee voucher-status"
          "voucher-rfp voucher-rfp voucher-rfp voucher-rfp"
          "voucher-desc voucher-desc voucher-remarks voucher-remarks"
          "voucher-details voucher-details voucher-details voucher-details"
          "voucher-details voucher-details voucher-details voucher-details"
          "voucher-signatories voucher-signatories voucher-signatories voucher-signatories"; 
    }
    .voucher-header { grid-area: voucher-header; }
    .voucher-date { grid-area: voucher-date; }
    .voucher-payee { grid-area: voucher-payee; }
    .voucher-status { grid-area: voucher-status; }
    .voucher-rfp { grid-area: voucher-rfp; }
    .voucher-desc { grid-area: voucher-desc; }
    .voucher-remarks { grid-area: voucher-remarks; }
    .voucher-details { grid-area: voucher-details; }
    .voucher-signatories { grid-area: voucher-signatories; }

    .voucher-header, .voucher-date, .voucher-payee, .voucher-status, .voucher-rfp,
    .voucher-desc, .voucher-remarks, .voucher-details, .voucher-signatories { border-top: solid thin lightgray; }

    .voucher-header, .voucher-payee, .voucher-rfp, .voucher-desc, .voucher-details,
    .voucher-signatories { 
        border-right: solid thin lightgray;
        border-left: solid thin lightgray; 
    }

    .voucher-date, .voucher-status, .voucher-remarks { border-right: solid thin lightgray; }
    .voucher-signatories { border-bottom: solid thin lightgray; }
}

