.page-cont {
    background-color: #eeeff2;
    // padding-top: 10px;
    height: 100%;
}

.dashboardpage, .pettycashpage-entry,
.liquidationpage-entry {
    padding: 8px 8px !important;
}

.pcash-container {
    // width: calc(100vw - 400px);
}

.errorpage {
    background: white;
    height: 100%;
}

.acctgstatuspage, .bankpage,
.billingdocpage, .divisionpage,
.modeofpaymentpage, .payeepage,
.requesttypelist, .payeecategory,
.projchargingpage, .requesttype,
.subconcompage, .subcongeninfopage,
.subconpospage, .pettycashlist-page,
.liquidationlist-page, .voucherlist {
    padding: 10px 72px 10px 16px !important;
}