@attribute [Authorize]

@page "/dashboard"

<div class='page-cont'>
    <AuthorizeView>
        <Authorized>
            <MudContainer Class='dashboardpage' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
                @if(!dataFetched)
                {
                    <SkeletonDashboard />
                }
                else
                {
                    <div class="dboard-container transition-05s-ease fade-in">
                        <div class="dboard-settings d-flex align-center px-2 gap-2">
                            <MudIcon Icon='fa-solid fa-sliders' Size='Size.Small' />
                            <MudSpacer />
                            <MudButton StartIcon='fa-solid fa-gear' Size='Size.Small'>Settings</MudButton>
                        </div>
                        <div class="dboard-top d-flex">
                            <MudGrid Spacing='1'>
                                <MudItem xs=12 sm=2>
                                    <MudPaper Height=100%>
                                        <MudCardHeader Class='pa-2'>
                                            Placeholder
                                        </MudCardHeader>
                                        <MudCardContent Class='pa-2'>
                                            Content
                                        </MudCardContent>
                                    </MudPaper>
                                </MudItem>
                                <MudItem xs=12 sm=2>
                                    <MudPaper Height=100%>
                                        <MudCardHeader Class='pa-2'>
                                            Placeholder
                                        </MudCardHeader>
                                        <MudCardContent Class='pa-2'>
                                            Content
                                        </MudCardContent>
                                    </MudPaper>
                                </MudItem>
                                <MudItem xs=12 sm=2>
                                    <MudPaper Height=100%>
                                        <MudCardHeader Class='pa-2'>
                                            Placeholder
                                        </MudCardHeader>
                                        <MudCardContent Class='pa-2'>
                                            Content
                                        </MudCardContent>
                                    </MudPaper>
                                </MudItem>
                                <MudItem xs=12 sm=2>
                                    <MudPaper Height=100%>
                                        <MudCardHeader Class='pa-2'>
                                            Placeholder
                                        </MudCardHeader>
                                        <MudCardContent Class='pa-2'>
                                            Content
                                        </MudCardContent>
                                    </MudPaper>
                                </MudItem>
                                <MudItem xs=12 sm=2>
                                    <MudPaper Height=100%>
                                        <MudCardHeader Class='pa-2'>
                                            Placeholder
                                        </MudCardHeader>
                                        <MudCardContent Class='pa-2'>
                                            Content
                                        </MudCardContent>
                                    </MudPaper>
                                </MudItem>
                                <MudItem xs=12 sm=2>
                                    <MudPaper Height=100%>
                                        <MudCardHeader Class='pa-2'>
                                            Placeholder
                                        </MudCardHeader>
                                        <MudCardContent Class='pa-2'>
                                            Content
                                        </MudCardContent>
                                    </MudPaper>
                                </MudItem>
                            </MudGrid>
                        </div>
                        <div class="dboard-body-left">
                            <MudPaper Height=100%> <MudCardHeader Class='pa-2'>
                                Placeholder
                            </MudCardHeader>
                            <MudCardContent Class='pa-2'>
                                Content
                            </MudCardContent></MudPaper>
                        </div>
                        <div class="dboard-body">
                            <MudPaper Height=100%>
                                <MudCardHeader Class='pa-2'>
                                    Placeholder
                                </MudCardHeader>
                                <MudCardContent Class='pa-2'>
                                    Content
                                </MudCardContent>
                            </MudPaper>
                        </div>
                        <div class="dboard-body-right">
                            <MudPaper Height=100%>
                                <MudCardHeader Class='pa-2'>
                                    Placeholder
                                </MudCardHeader>
                                <MudCardContent Class='pa-2'>
                                    Content
                                </MudCardContent>
                            </MudPaper>
                        </div>
                        <div class="dboard-bottom-left">
                            <MudPaper Height=100%>
                                <MudCardHeader Class='pa-2'>
                                    Placeholder
                                </MudCardHeader>
                                <MudCardContent Class='pa-2'>
                                    Content
                                </MudCardContent>
                            </MudPaper>
                        </div>
                        <div class="dboard-bottom-right">
                            <MudPaper Height=100%>
                                <MudCardHeader Class='pa-2'>
                                    Placeholder
                                </MudCardHeader>
                                <MudCardContent Class='pa-2'>
                                    Content
                                </MudCardContent>
                            </MudPaper>
                        </div>
                    </div>
                }
            </MudContainer>
        </Authorized>
        <NotAuthorized>
            <MudContainer Class='d-flex align-center justify-center height100 errorpage bgc-transparent' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
                <img class='errorpage__img' src="images/pageforbidden403.png" asp-append-version="true" />
            </MudContainer>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    private bool dataFetched;
    protected override async Task OnInitializedAsync()
    {
        @* await Task.Delay(1000000); *@
        GlobalClass.pageTitle = "Dashboard";
        CompletedFetch();
    }

    void CompletedFetch()
    {
        dataFetched = true;
    }
}