
@inherits DashboardBase
@attribute [Authorize]

@page "/dashboard"

<div class='page-cont'>
    <MudPaper Class='page-cont__background' Square Elevation='0' Height='100%'>
        <MudContainer Class='dashboard-container' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
            <AuthorizeView>
                <Authorized>
                    @if(!dataFetched)
                    {
                        <SkeletonDashboard />
                    }
                    else
                    {
                        <MudPaper Class='dashboard'>
                            <div class="dashboard-header">
                                <p class='dashboard__title'>Accounting Integrated System - Dashboard</p>
                                <MudSpacer />
                                <MudIconButton OnClick='RefreshAllData' Icon='@Icons.Material.Filled.Refresh' Size='Size.Small' />
                            </div>
                            <div class="dashboard-content">content
                                <MudPaper>
                                    @* <MudTable ServerData='new Func<TableState, Task<TableData<RequestForPaymentModel>>>(LoadRFP)' Dense Context='_rfp'
                                            @ref='rfpTableVar'>
                                        <HeaderContent>
                                            RFP By Status
                                        </HeaderContent>
                                        <RowTemplate>
                                            @totalRFP
                                        </RowTemplate>
                                    </MudTable> *@
                                    @rfpList.Count()
                                </MudPaper>
                            </div>
                            <div class="dashboard-footer">footer</div>
                        </MudPaper>
                    }
                </Authorized>
                <NotAuthorized>
                    <MudContainer Class='d-flex align-center justify-center height100 errorpage bgc-transparent' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
                        <img class='errorpage__img' src="images/pageforbidden403.png" asp-append-version="true" />
                    </MudContainer>
                </NotAuthorized>
            </AuthorizeView>
        </MudContainer>
    </MudPaper>
</div>