@attribute [Authorize]

@page "/dashboard"

<div class='page-cont'>
    <AuthorizeView>
        <Authorized>
            <MudContainer Class='dashboardpage' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
                @if(!dataFetched)
                {

                
                }
                else
                {
                    <div class="dashboard-container">
                        <MudPaper class="topdash">
                            <div class='d-flex align-center'>
                                Top
                            </div>
                        </MudPaper>
                        <MudPaper class="bodydash">Body</MudPaper>
                        <MudPaper class="sidedash">Side</MudPaper>
                    </div>
                }
            </MudContainer>
        </Authorized>
        <NotAuthorized>
            <MudContainer Class='d-flex align-center justify-center height100 errorpage bgc-transparent' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
                <img class='errorpage__img' src="images/pageforbidden403.png" asp-append-version="true" />
            </MudContainer>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code{
    private bool dataFetched;
    protected override async Task OnInitializedAsync()
    {
        GlobalClass.pageTitle = "Dashboard";
        CompletedFetch();
    }

    void CompletedFetch()
    {
        dataFetched = true;
    }
}