.usercp {
    max-height: 50px;
    position: relative;
    .mud-expand-panel-header {
        max-width: 320px;
        min-width: 320px;
        padding: 1px 24px 0px 24px !important;
        margin: 0px 0px 3px 0px !important
    }
    &__infocontainer {
        width: 250px !important;
    }
    &__skeletonavatar, &__avatar {
        margin-right: 10px;
    }
    &__lblusername {
        font-size: 15px !important;
    }
    &__lbldesignation {
        font-size: 12px !important;
    }
    &__btncontainer {
        display: flex !important;
        padding: 0px 16px !important;
    }
    &__btnsettings, &__btntohub {
        font-size: 14px !important;
        text-transform: none !important;
    }
    &__btnlogout {
        width: 100%;
    }
}