.border-radius-0 {
  border-radius: 0px !important;
}
.border-radius-5 {
  border-radius: 5px !important;
}
.border-thin {
  border: solid thin lightgray;
}
.border-thin-top {
  border-top: solid thin lightgray;
}
.border-thin-right {
  border-right: solid thin lightgray;
}
.border-thin-bottom {
  border-bottom: solid thin lightgray;
}
.border-thin-left {
  border-left: solid thin lightgray;
}
.border-thick-left {
  border-left: solid thick;
}
.border-thin-778899b0 {
  border: solid thin #778899b0 !important;
}

.border-thin-notop {
  border-right: solid thin lightgray;
}

.border-thin-topbot {
  @extend .border-thin-bottom;
  @extend .border-thin-top;
}

.border-bottom-only {
  border-top: none;
  border-right: none;
  border-left: none;
}

.br-none {
  border-right: none !important;
}

.bl-thin {
  border-left: solid thin lightgray;
}

.br-thin {
  border-right: solid thin lightgray;
}

.border-right-none {
  border-right-style: none !important;
}