.font10 { font-size: 10px !important; }
.font12 { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font16 { font-size: 16px !important; }

.font14-txtfield { .mud-input { font-size: 14px; } }
.txtfield-75 {
    .mud-input { height: 35px; }
    .mud-input-slot, .mud-input-label { font-size: .75rem !important; }
}
.selectparent-75 {
    .mud-input {
        font-size: .75rem;
        height: 35px;
        text-align: left;
    }
}
.selectitem-75 {
    .mud-typography { 
        font-size: .75rem !important;
    }
}
.title875 { 
    font-size: .875rem; 
    font-weight: bold; 
    text-transform: uppercase; 
}
.lbl75 { 
    font-size: .775rem !important; 
    font-weight: bold !important;
    text-transform: uppercase !important;
}
.lbl70 { font-size: .7rem !important; }

.txt-uppercase { text-transform: uppercase !important; }