@page "/test"

@inject IGlobalService globalService
@inject NavigationManager navigationManager

<div class='page-cont d-flex'>
    <MudContainer Class='d-flex flex-column pa-2 gap-2' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
        @* <h1>Test page</h1> *@
        <MudDatePicker  @bind-Date="_year" OpenTo="OpenTo.Year" FixMonth="@DateTime.Today.Month" FixDay="@DateTime.Today.Day" DateFormat="yyyy" DisableToolbar />
    </MudContainer>
</div>


@code {
    private DateTime? _year = DateTime.Today;
    private bool dataFetched;
    private string PDFContent = default!;
    protected override async Task OnInitializedAsync()
    {
        while (GlobalClass.currentUserAccount == null)
            await Task.Delay(1);
    }

    void CompletedFetch()
    {
        dataFetched = true;
        Task.Run(StateHasChanged);
    }

}