@page "/test"

@inject IGlobalService globalService
@inject NavigationManager navigationManager

<div class='page-cont d-flex'>
    <MudContainer Class='d-flex flex-column pa-2 gap-2' Fixed='false' MaxWidth='MaxWidth.ExtraExtraLarge'>
        @* <h1>Test page</h1> *@
        <MudDatePicker  @bind-Date="_year" OpenTo="OpenTo.Year" FixMonth="@DateTime.Today.Month" FixDay="@DateTime.Today.Day" DateFormat="yyyy" DisableToolbar />
        <input type='text' @bind-value='teststr'/>
        <button @onclick='TestButton'>Test</button>
    </MudContainer>
</div>


@code {
    private DateTime? _year = DateTime.Today;
    private bool dataFetched;
    private string PDFContent = default!;
    private string teststr = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        while (GlobalClass.currentUserAccount == null)
            await Task.Delay(1);
    }

    void CompletedFetch()
    {
        dataFetched = true;
        Task.Run(StateHasChanged);
    }

    private void TestButton()
    {
        string trimmedStr = teststr.Trim();
        teststr = String.Concat(teststr.Where(x=> !Char.IsWhiteSpace(x)));
        Console.WriteLine(trimmedStr);
        Console.WriteLine(teststr);
    }

}