.bgc-fafafa { background-color: #fafafa; }
.bgc-f6f6f6 { background-color: #f6f6f6; }
.bgc-f2f2f2 { background-color: #f2f2f2 !important; }
.bgc-beige { background-color:#F5F5DC; }
.bgc-542d6f { background-color: #542d6f ;}

.color-white { color: #ffffff; }
.color-green { color: #008000; }
.color-beige { color:#F5F5DC; }