@page "/petty-cash/print"

@inherits PettyCashPrintBase

<div class='page-cont d-flex'>
    <ActionsOverlayComponent IsOverlayVisible='_processing' ActionMode='@actionMode' ModuleName="Petty Cash"
        ProgressValue='@progressValue' />
    <div class='rpt-container'>
        <MudCard Class='rpt-container__document-cont' Elevation='1'>
            <div class='rpt-container__iframe-cont'>
                @if (string.IsNullOrWhiteSpace(pdfReport))
                {
                    <MudProgressCircular Color="Color.Primary" Indeterminate />
                }
                else
                {
                    <iframe src='@pdfReport' />
                }
            </div>
        </MudCard>
        <ReportControls ControlPosition='rptctrls-side-bottom' ConfirmStr='SAVE PETTY CASH' IsSaved='isSaved'
            Processing='_processing' BackEventClick='Back' PromptEventClick='Prompt' />
    </div>
</div>
