.txtdate-noline {
  .mud-input-slot {
    text-align: right !important;
  }
  .mud-input.mud-input-underline::before {
    border-bottom: 0px !important;
  }
  .mud-input.mud-input-underline::after {
    border-bottom: 0px !important;
  }
}

.txtfield-right {
  .mud-input-slot {
    text-align: right;
  }
}

.txtfield-center {
  .mud-input-slot {
    text-align: center;
  }
}

.txt-search-overflow {
  .mud-input-slot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.txtfield-overflow-ellipsis {
  .mud-input-slot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.txt-top-0 {
  margin-top: 0px !important;
  .mud-input-control,
  .mud-input {
    margin-top: 0px !important;
  }
}

.txt-oflow-el {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
