@use "../flexgridmods/flexgridmods.styles.css";

.txtdate-noline {
  .mud-input-slot {
    text-align: right !important;
  }
  .mud-input.mud-input-underline::before {
    border-bottom: 0px !important;
  }
  .mud-input.mud-input-underline::after {
    border-bottom: 0px !important;
  }
}

.txtfield-right {
  .mud-input-slot {
    text-align: right;
  }
}

.txtfield-center {
  .mud-input-slot {
    text-align: center;
  }
}

.txt-search-overflow {
  .mud-input-slot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.txtfield-overflow-ellipsis {
  .mud-input-slot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.txt-top-0 {
  margin-top: 0px !important;
  .mud-input-control,
  .mud-input {
    margin-top: 0px !important;
  }
}

.txt-oflow-el {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-dense-v2 {
  .mud-input > input.mud-input-root-outlined.mud-input-root-margin-dense,
  div.mud-input-slot.mud-input-root-outlined.mud-input-root-margin-dense {
    padding: 5px;
  }
}

.oflow-el {
  text-overflow: ellipsis;
}

.txtfield-padlr-4px {
  .mud-input-slot {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
}

.txt-bold {
  .mud-input {
    font-weight: bold !important;
  }
}

.numerictxt-right-10px-w75px {
  margin-top: 0px !important;
  .mud-input-control,
  .mud-input {
    margin-top: 0px !important;
  }
  .mud-input {
    font-size: 12px;
    font-weight: bold;
  }
  .mud-input-slot {
    overflow: hidden !important;
    text-align: right;
    text-overflow: ellipsis;
    width: 75px !important;
    white-space: nowrap !important;
  }
}

.chargingline-txtcont {
  font-size: 12px !important;
  // max-width: 250px !important;
  // overflow: hidden !important;
  // text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.expenseline-txtcont {
  font-size: 12px !important;
  // max-width: 100px !important;
  // overflow: hidden !important;
  // text-overflow: ellipsis !important;
  // white-space: nowrap !important;
}

.lbl10 {
  font-size: 10px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  white-space: nowrap;
}
.lblhelper-type {
  font-size: 12px !important;
  // text-transform: uppercase;
  color: #767676;
}
.lblamount-red-10px {
  font-size: 10px !important;
  font-weight: bold !important;
}

.lbl-ellipsis-w320px {
  font-size: 12px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.txtfield-font12-no-margin {
  margin-top: 0px !important;
  .mud-input-control,
  .mud-input {
    font-size: 12px;
    margin-top: 0px !important;
  }
}

.txtfield-font14-no-margin {
  margin-top: 0px !important;
  .mud-input-control,
  .mud-input {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0px !important;
  }
}

.amount-container {
  @extend .dflex-row-align-center, .txt-oflow-el;
  gap: 2px;
  justify-content: right;
  max-width: 110px;
  width: 100%;
}

.amt-container-voucher {
  @extend .dflex-row-align-center, .txt-oflow-el;
  gap: 2px;
  max-width: 120px;
  width: 100%;
}

.txt-green {
  color: green;
}

.txt-red {
  color: red;
}

.txt-green,
.txt-red {
  @extend .txt-oflow-el;
  font-weight: bold;
}

.globalrfp-amt-indialog {
  display: block;
  font-weight: bold;
  max-width: 100px;
  overflow: hidden;
  padding-left: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.txtnumeric-red-1 {
  @extend .txt-search-overflow, .txtfield-font12-no-margin, .txtfield-right;
  .mud-input {
    color: red;
    font-weight: bold;
  }
}

.txtnumeric-green-1 {
  @extend .txt-search-overflow, .txtfield-font12-no-margin, .txtfield-right;
  .mud-input {
    color: green;
    font-weight: bold;
  }
}

.vrfp-amt {
  @extend .txt-oflow-el;
  display: block;
  font-weight: bold;
  max-width: 100px;
}
