@page "/refresh"
@page "/refresh/{urlTo}"
@page "/refresh/{urlTo}/{pcashid:long}"

@inject NavigationManager navigationManager

<h1>If you see this text, Then you are not force refreshing your content page</h1>

@code {
    [Parameter] public string urlTo { get; set; } = string.Empty;
    [Parameter] public long pcashid { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        
        await base.SetParametersAsync(parameters);
    }
    protected override void OnInitialized()
    {
        if (urlTo.Contains("pc-create", StringComparison.InvariantCultureIgnoreCase))
            navigationManager.NavigateTo($"/petty-cash");
        if (urlTo.Contains("liq-create", StringComparison.InvariantCultureIgnoreCase))
            navigationManager.NavigateTo($"/liquidation");
        if (urlTo.Contains("rfp-create", StringComparison.InvariantCultureIgnoreCase))
            navigationManager.NavigateTo($"/request-payment/create");
        if (urlTo.Contains("voucher-create", StringComparison.InvariantCultureIgnoreCase))
            navigationManager.NavigateTo($"/voucher");
        if (urlTo.Contains("debit-create", StringComparison.InvariantCultureIgnoreCase))
            navigationManager.NavigateTo($"/debit/create");
    }
}