.errorpage {
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  &__btn {
    background-color: #542d6f !important;
    color: white !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    font-family: "Theramin" !important;
    width: 40%;
  }
  &__img {
    width: 45%;
  }
}
