.dflex-row-align-center {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.dflex-row, .accesslevel-page__grid .algrid-header, .accesslevel-page__subheader, .accesslevel-page__module-container {
  align-items: center;
  display: flex;
}

.dflex-col, .dflex-col-start-end {
  flex-direction: column !important;
  display: flex !important;
}

.dflex-ac {
  align-items: center;
  display: flex;
  gap: 4px;
  padding: 8px;
}

.flex-full {
  flex: 1 1 0%;
}

.dflex {
  display: flex;
}

.dblock {
  display: block;
}

.dnone {
  display: none;
}

.dblock-inline {
  display: inline-block;
}

.vis-hide {
  visibility: hidden;
}

.vis-show {
  visibility: visible;
}

.jcenter {
  justify-content: center;
}

.dflex-col-start-end {
  align-items: start;
  justify-content: end;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
}

.line-clamp-8 {
  -webkit-line-clamp: 8;
}

.line-clamp-10 {
  -webkit-line-clamp: 10;
}

.line-clamp-16 {
  -webkit-line-clamp: 16;
}

.line-clamp-props, .line-clamp-2, .line-clamp-3, .line-clamp-8, .line-clamp-10, .line-clamp-16 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
} 
.visibility-animation-hide {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear;
}

.visibility-animation-show {
  display: block;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.transition-2s-ease {
  transition: all 2s;
  transition-timing-function: ease;
}

.transition-1-5s-ease {
  transition: all 1.5s;
  transition-timing-function: ease;
}

.transition-1s-ease {
  transition: all 1s;
  transition-timing-function: ease;
}

.transition-05s-ease {
  transition: all 0.5s;
  transition-timing-function: ease;
}

.transition-025s-ease {
  transition: all 0.25s;
  transition-timing-function: ease;
}

.menu-grow-anim {
  transition: all 0.15s ease-in-out !important;
}

.menu-grow-anim:hover {
  transform: scale(1.025) !important;
}

.row-popup-anim-2px tr {
  transition: all 0.2s ease-in-out;
}

.row-popup-anim-2px tr:hover {
  transform: translateY(-2px);
}

.fade-in, .accesslevel-page, .accesslevel-page__grid .algrid-parent, .accesslevel-page__grid .algrid-module, .accesslevel-page__grid .algrid-function, .accesslevel-page__grid .algrid-notes {
  animation: fadein 1s;
  visibility: visible;
}

.fade-out {
  animation: fadeout 1s;
  visibility: hidden;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.icon-rotate180 .mud-button-icon-end {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.mudbtn-rotate-180 .mud-icon-root {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.mudbtnico-rotate {
  animation: mudbtnico-rotate 0.5s linear infinite;
}

@keyframes mudbtnico-rotate {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.mudbtnico-rotate-90 .mud-icon-root {
  transform: rotate(0deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease; /** Firefox **/
  -o-transition: all 0.5s ease; /** Opera **/
}

.mudbtnico-rotate-90:hover .mud-button-root {
  color: #2196f3 !important;
}

.mudbtnico-rotate-90:hover .mud-icon-root, .mudbtnico-rotate-90:hover .mud-button-icon-end {
  transform: rotate(90deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease; /** Firefox **/
  -o-transition: all 0.5s ease; /** Opera **/
}

.mudbtnico-rotate-180:hover .mud-button-root {
  color: #2196f3 !important;
}

.mudbtnico-rotate-180:hover .mud-icon-root {
  transform: rotate(180deg);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; /** Chrome & Safari **/
  -moz-transition: all 0.5s ease; /** Firefox **/
  -o-transition: all 0.5s ease; /** Opera **/
}

.sticky-div {
  z-index: 1;
  position: sticky;
  left: 0;
  background-color: white;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  30% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.th-btn-expand .mud-icon-root {
  transition: all 0.5s ease;
}

.ripple-animation {
  background-position: center;
  transition: background 0.7s;
}

.ripple-animation:hover {
  background: rgba(255, 255, 255, 0.5) radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.5) 1%) center/15000%;
}

.ripple-animation:active {
  background-color: inherit;
  background-size: 100%;
  transition: background 0s;
}

.searching-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.searching-container p {
  font-size: 14px;
  font-family: "R-Flex Bold";
}

.searching-container__glass {
  margin: 24px;
  width: 35px;
  height: 35px;
  animation: zoom-in-zoom-out-glass 1s ease infinite;
}

@keyframes zoom-in-zoom-out-glass {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes fadeToRight-15px {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(15px);
  }
}
.fadeToRight-15px, .accesslevel-page__module-container .module-selected-icon {
  animation-name: fadeToRight-15px;
  animation: fadeToRight-15px 1s;
}

.from-top {
  animation: fromtop 0.5s;
}

.to-top {
  animation: totop 0.5s;
}

@keyframes fromtop {
  0% {
    opacity: 0;
    transform: translateY(-100px) scale(0.86);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(0.86);
  }
}
@keyframes totop {
  0% {
    opacity: 1;
    transform: translateY(0) scale(0.86);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) scale(0.86);
  }
}
.horizontal-in {
  animation: horizontalin 0.5s;
}

@keyframes horizontalin {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.from-right {
  animation: fromright 0.5s;
}

.to-right {
  animation: toright 0.5s;
}

@keyframes fromright {
  0% {
    opacity: 0;
    transform: translateX(100px) scale(0.86);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(0.86);
  }
}
@keyframes toright {
  0% {
    opacity: 1;
    transform: translateX(0) scale(0.86);
  }
  100% {
    opacity: 0;
    transform: translateX(100px) scale(0.86);
  }
}
.bounce-anim-sm {
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.side-to-side-anim-sm {
  animation: sidetoside-sm 2s infinite;
  -webkit-animation: sidetoside-sm 2s infinite;
  -moz-animation: sidetoside-sm 2s infinite;
  -o-animation: sidetoside-sm 2s infinite;
}

@keyframes sidetoside-sm {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
}
.wiggle-anim-sm {
  animation: wiggle 2s linear infinite;
}

.wiggle-anim-sm-once {
  animation: wiggle 0.5s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-20deg);
  }
  20% {
    transform: rotateZ(15deg);
  }
  25% {
    transform: rotateZ(-15deg);
  }
  30% {
    transform: rotateZ(11deg);
  }
  35% {
    transform: rotateZ(-9deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
} 
.accesslevel-page {
  padding-top: 8px;
  padding-bottom: 8px;
}
.accesslevel-page__container {
  height: 100%;
  overflow: hidden;
}
.accesslevel-page__container-info {
  margin: 8px 0px;
  height: 300px 600px;
}
.accesslevel-page__grid {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.7fr 1fr;
  grid-template-rows: 55px 1fr 1fr 30px;
  gap: 0px 0px;
  grid-template-areas: "algrid-header algrid-header algrid-header algrid-header" "algrid-parent algrid-module algrid-function algrid-info" "algrid-parent algrid-module algrid-function algrid-notes" "algrid-footer algrid-footer algrid-footer algrid-footer";
  height: calc(100vh - 105px);
}
.accesslevel-page__grid .algrid-header {
  grid-area: algrid-header;
}
.accesslevel-page__grid .algrid-parent {
  grid-area: algrid-parent;
}
.accesslevel-page__grid .algrid-module {
  grid-area: algrid-module;
}
.accesslevel-page__grid .algrid-function {
  grid-area: algrid-function;
}
.accesslevel-page__grid .algrid-info {
  grid-area: algrid-info;
}
.accesslevel-page__grid .algrid-notes {
  grid-area: algrid-notes;
}
.accesslevel-page__grid .algrid-footer {
  grid-area: algrid-footer;
}
.accesslevel-page__grid .algrid-header {
  padding: 4px 8px;
}
.accesslevel-page__grid .algrid-parent, .accesslevel-page__grid .algrid-module, .accesslevel-page__grid .algrid-function, .accesslevel-page__grid .algrid-notes {
  padding: 4px 4px 14px 4px;
}
.accesslevel-page__grid .algrid-info {
  padding: 4px;
}
.accesslevel-page__grid .algrid-header {
  gap: 8px;
}
.accesslevel-page__grid .algrid-parent, .accesslevel-page__grid .algrid-module, .accesslevel-page__grid .algrid-function {
  overflow: hidden;
}
.accesslevel-page__subheader {
  border-bottom: solid thin lightgray;
  justify-content: space-between;
  padding: 4px 8px;
}
.accesslevel-page__label {
  font-size: 10px;
  font-weight: bold;
  color: #858585;
}
.accesslevel-page__list-container {
  height: 100%;
  overflow: auto;
}
.accesslevel-page__list-container .mud-avatar {
  height: 35px !important;
  width: 35px !important;
}
.accesslevel-page .mud-list-item:hover {
  cursor: pointer;
}
.accesslevel-page .mud-list-item:focus {
  cursor: pointer;
}
.accesslevel-page .al-item-selected, .accesslevel-page .mud-list-item:focus {
  background-color: #8758a9 !important;
  color: #ffffff !important;
}
.accesslevel-page .al-item-selected .mud-icon-root, .accesslevel-page .mud-list-item:focus .mud-icon-root {
  color: #ffffff !important;
}
.accesslevel-page .al-item-selected .mud-avatar, .accesslevel-page .mud-list-item:focus .mud-avatar {
  border-color: #ffffff !important;
}
.accesslevel-page .mud-list {
  padding-bottom: 24px !important;
}
.accesslevel-page__module-container p {
  font-size: 12px;
  margin-left: 8px;
}
.accesslevel-page__module-container .module-selected-icon {
  position: relative;
  margin-right: 15px;
  transform: translateX(15px);
  height: 15px !important;
  width: 15px !important;
}
.accesslevel-page__module-about-info {
  padding: 4px 8px;
}
.accesslevel-page__module-about-info p {
  font-size: 14px;
  font-family: "R-Flex Regular";
}/*# sourceMappingURL=accesslevel.styles.css.map */